{"openapi":"3.0.1","info":{"title":"Literature API","description":"This API enables you to search for literature indexed by GBIF, including peer-reviewed papers citing GBIF datasets and downloads. It powers the Literature search on GBIF.org.","termsOfService":"https://www.gbif.org/terms","version":"v1"},"servers":[{"url":"https://api.gbif.org/v1/","description":"Production","variables":{}},{"url":"https://api.gbif-uat.org/v1/","description":"User testing","variables":{}}],"paths":{"/literature/{uuid}":{"get":{"tags":["literature-resource"],"summary":"Literature item by id","description":"Retrieve details for a single literature item","operationId":"get","parameters":[{"name":"uuid","in":"path","description":"UUID for the literature item","required":true,"schema":{"type":"string","format":"uuid"},"example":"83a00190-7038-3970-a7e8-5e5563c40e37"}],"responses":{"404":{"description":"Literature item not found"},"400":{"description":"Invalid identifier supplied"},"200":{"description":"Literature item found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LiteratureSearchResult"}}}}}}},"/literature/search":{"get":{"tags":["literature-resource"],"summary":"Search literature","description":"Full-text and parameterized search across all literature","operationId":"search","parameters":[{"name":"citationType","in":"query","explode":true,"schema":{"type":"string"}},{"name":"countriesOfCoverage","in":"query","description":"Country or area of institution with which author is affiliated, e.g. DK (for Denmark). Country codes are listed in our Country enum.","explode":true,"schema":{"type":"string","enum":["AFGHANISTAN","ALAND_ISLANDS","ALBANIA","ALGERIA","AMERICAN_SAMOA","ANDORRA","ANGOLA","ANGUILLA","ANTARCTICA","ANTIGUA_BARBUDA","ARGENTINA","ARMENIA","ARUBA","AUSTRALIA","AUSTRIA","AZERBAIJAN","BAHAMAS","BAHRAIN","BANGLADESH","BARBADOS","BELARUS","BELGIUM","BELIZE","BENIN","BERMUDA","BHUTAN","BOLIVIA","BONAIRE_SINT_EUSTATIUS_SABA","BOSNIA_HERZEGOVINA","BOTSWANA","BOUVET_ISLAND","BRAZIL","BRITISH_INDIAN_OCEAN_TERRITORY","BRUNEI_DARUSSALAM","BULGARIA","BURKINA_FASO","BURUNDI","CAMBODIA","CAMEROON","CANADA","CAPE_VERDE","CAYMAN_ISLANDS","CENTRAL_AFRICAN_REPUBLIC","CHAD","CHILE","CHINA","CHRISTMAS_ISLAND","COCOS_ISLANDS","COLOMBIA","COMOROS","CONGO_DEMOCRATIC_REPUBLIC","CONGO","COOK_ISLANDS","COSTA_RICA","CÔTE_DIVOIRE","CROATIA","CUBA","CURAÇAO","CYPRUS","CZECH_REPUBLIC","DENMARK","DJIBOUTI","DOMINICA","DOMINICAN_REPUBLIC","ECUADOR","EGYPT","EL_SALVADOR","EQUATORIAL_GUINEA","ERITREA","ESTONIA","ETHIOPIA","FALKLAND_ISLANDS","FAROE_ISLANDS","FIJI","FINLAND","FRANCE","FRENCH_GUIANA","FRENCH_POLYNESIA","FRENCH_SOUTHERN_TERRITORIES","GABON","GAMBIA","GEORGIA","GERMANY","GHANA","GIBRALTAR","GREECE","GREENLAND","GRENADA","GUADELOUPE","GUAM","GUATEMALA","GUERNSEY","GUINEA","GUINEA_BISSAU","GUYANA","HAITI","HEARD_MCDONALD_ISLANDS","VATICAN","HONDURAS","HONG_KONG","HUNGARY","ICELAND","INDIA","INDONESIA","IRAN","IRAQ","IRELAND","ISLE_OF_MAN","ISRAEL","ITALY","JAMAICA","JAPAN","JERSEY","JORDAN","KAZAKHSTAN","KENYA","KIRIBATI","KOREA_NORTH","KOREA_SOUTH","KUWAIT","KYRGYZSTAN","LAO","LATVIA","LEBANON","LESOTHO","LIBERIA","LIBYA","LIECHTENSTEIN","LITHUANIA","LUXEMBOURG","MACAO","MACEDONIA","MADAGASCAR","MALAWI","MALAYSIA","MALDIVES","MALI","MALTA","MARSHALL_ISLANDS","MARTINIQUE","MAURITANIA","MAURITIUS","MAYOTTE","MEXICO","MICRONESIA","MOLDOVA","MONACO","MONGOLIA","MONTENEGRO","MONTSERRAT","MOROCCO","MOZAMBIQUE","MYANMAR","NAMIBIA","NAURU","NEPAL","NETHERLANDS","NEW_CALEDONIA","NEW_ZEALAND","NICARAGUA","NIGER","NIGERIA","NIUE","NORFOLK_ISLAND","NORTHERN_MARIANA_ISLANDS","NORWAY","OMAN","PAKISTAN","PALAU","PALESTINIAN_TERRITORY","PANAMA","PAPUA_NEW_GUINEA","PARAGUAY","PERU","PHILIPPINES","PITCAIRN","POLAND","PORTUGAL","PUERTO_RICO","QATAR","RÉUNION","ROMANIA","RUSSIAN_FEDERATION","RWANDA","SAINT_BARTHÉLEMY","SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA","SAINT_KITTS_NEVIS","SAINT_LUCIA","SAINT_MARTIN_FRENCH","SAINT_PIERRE_MIQUELON","SAINT_VINCENT_GRENADINES","SAMOA","SAN_MARINO","SAO_TOME_PRINCIPE","SAUDI_ARABIA","SENEGAL","SERBIA","SEYCHELLES","SIERRA_LEONE","SINGAPORE","SINT_MAARTEN","SLOVAKIA","SLOVENIA","SOLOMON_ISLANDS","SOMALIA","SOUTH_AFRICA","SOUTH_GEORGIA_SANDWICH_ISLANDS","SOUTH_SUDAN","SPAIN","SRI_LANKA","SUDAN","SURINAME","SVALBARD_JAN_MAYEN","SWAZILAND","SWEDEN","SWITZERLAND","SYRIA","TAIWAN","TAJIKISTAN","TANZANIA","THAILAND","TIMOR_LESTE","TOGO","TOKELAU","TONGA","TRINIDAD_TOBAGO","TUNISIA","TURKEY","TURKMENISTAN","TURKS_CAICOS_ISLANDS","TUVALU","UGANDA","UKRAINE","UNITED_ARAB_EMIRATES","UNITED_KINGDOM","UNITED_STATES","UNITED_STATES_OUTLYING_ISLANDS","URUGUAY","UZBEKISTAN","VANUATU","VENEZUELA","VIETNAM","VIRGIN_ISLANDS_BRITISH","VIRGIN_ISLANDS","WALLIS_FUTUNA","WESTERN_SAHARA","YEMEN","ZAMBIA","ZIMBABWE","USER_DEFINED","KOSOVO","INTERNATIONAL_WATERS","UNKNOWN"]}},{"name":"countriesOfResearcher","in":"query","description":"Country or area of focus of study, e.g. BR (for Brazil). Country codes are listed in our Country enum.","explode":true,"schema":{"type":"string","enum":["AFGHANISTAN","ALAND_ISLANDS","ALBANIA","ALGERIA","AMERICAN_SAMOA","ANDORRA","ANGOLA","ANGUILLA","ANTARCTICA","ANTIGUA_BARBUDA","ARGENTINA","ARMENIA","ARUBA","AUSTRALIA","AUSTRIA","AZERBAIJAN","BAHAMAS","BAHRAIN","BANGLADESH","BARBADOS","BELARUS","BELGIUM","BELIZE","BENIN","BERMUDA","BHUTAN","BOLIVIA","BONAIRE_SINT_EUSTATIUS_SABA","BOSNIA_HERZEGOVINA","BOTSWANA","BOUVET_ISLAND","BRAZIL","BRITISH_INDIAN_OCEAN_TERRITORY","BRUNEI_DARUSSALAM","BULGARIA","BURKINA_FASO","BURUNDI","CAMBODIA","CAMEROON","CANADA","CAPE_VERDE","CAYMAN_ISLANDS","CENTRAL_AFRICAN_REPUBLIC","CHAD","CHILE","CHINA","CHRISTMAS_ISLAND","COCOS_ISLANDS","COLOMBIA","COMOROS","CONGO_DEMOCRATIC_REPUBLIC","CONGO","COOK_ISLANDS","COSTA_RICA","CÔTE_DIVOIRE","CROATIA","CUBA","CURAÇAO","CYPRUS","CZECH_REPUBLIC","DENMARK","DJIBOUTI","DOMINICA","DOMINICAN_REPUBLIC","ECUADOR","EGYPT","EL_SALVADOR","EQUATORIAL_GUINEA","ERITREA","ESTONIA","ETHIOPIA","FALKLAND_ISLANDS","FAROE_ISLANDS","FIJI","FINLAND","FRANCE","FRENCH_GUIANA","FRENCH_POLYNESIA","FRENCH_SOUTHERN_TERRITORIES","GABON","GAMBIA","GEORGIA","GERMANY","GHANA","GIBRALTAR","GREECE","GREENLAND","GRENADA","GUADELOUPE","GUAM","GUATEMALA","GUERNSEY","GUINEA","GUINEA_BISSAU","GUYANA","HAITI","HEARD_MCDONALD_ISLANDS","VATICAN","HONDURAS","HONG_KONG","HUNGARY","ICELAND","INDIA","INDONESIA","IRAN","IRAQ","IRELAND","ISLE_OF_MAN","ISRAEL","ITALY","JAMAICA","JAPAN","JERSEY","JORDAN","KAZAKHSTAN","KENYA","KIRIBATI","KOREA_NORTH","KOREA_SOUTH","KUWAIT","KYRGYZSTAN","LAO","LATVIA","LEBANON","LESOTHO","LIBERIA","LIBYA","LIECHTENSTEIN","LITHUANIA","LUXEMBOURG","MACAO","MACEDONIA","MADAGASCAR","MALAWI","MALAYSIA","MALDIVES","MALI","MALTA","MARSHALL_ISLANDS","MARTINIQUE","MAURITANIA","MAURITIUS","MAYOTTE","MEXICO","MICRONESIA","MOLDOVA","MONACO","MONGOLIA","MONTENEGRO","MONTSERRAT","MOROCCO","MOZAMBIQUE","MYANMAR","NAMIBIA","NAURU","NEPAL","NETHERLANDS","NEW_CALEDONIA","NEW_ZEALAND","NICARAGUA","NIGER","NIGERIA","NIUE","NORFOLK_ISLAND","NORTHERN_MARIANA_ISLANDS","NORWAY","OMAN","PAKISTAN","PALAU","PALESTINIAN_TERRITORY","PANAMA","PAPUA_NEW_GUINEA","PARAGUAY","PERU","PHILIPPINES","PITCAIRN","POLAND","PORTUGAL","PUERTO_RICO","QATAR","RÉUNION","ROMANIA","RUSSIAN_FEDERATION","RWANDA","SAINT_BARTHÉLEMY","SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA","SAINT_KITTS_NEVIS","SAINT_LUCIA","SAINT_MARTIN_FRENCH","SAINT_PIERRE_MIQUELON","SAINT_VINCENT_GRENADINES","SAMOA","SAN_MARINO","SAO_TOME_PRINCIPE","SAUDI_ARABIA","SENEGAL","SERBIA","SEYCHELLES","SIERRA_LEONE","SINGAPORE","SINT_MAARTEN","SLOVAKIA","SLOVENIA","SOLOMON_ISLANDS","SOMALIA","SOUTH_AFRICA","SOUTH_GEORGIA_SANDWICH_ISLANDS","SOUTH_SUDAN","SPAIN","SRI_LANKA","SUDAN","SURINAME","SVALBARD_JAN_MAYEN","SWAZILAND","SWEDEN","SWITZERLAND","SYRIA","TAIWAN","TAJIKISTAN","TANZANIA","THAILAND","TIMOR_LESTE","TOGO","TOKELAU","TONGA","TRINIDAD_TOBAGO","TUNISIA","TURKEY","TURKMENISTAN","TURKS_CAICOS_ISLANDS","TUVALU","UGANDA","UKRAINE","UNITED_ARAB_EMIRATES","UNITED_KINGDOM","UNITED_STATES","UNITED_STATES_OUTLYING_ISLANDS","URUGUAY","UZBEKISTAN","VANUATU","VENEZUELA","VIETNAM","VIRGIN_ISLANDS_BRITISH","VIRGIN_ISLANDS","WALLIS_FUTUNA","WESTERN_SAHARA","YEMEN","ZAMBIA","ZIMBABWE","USER_DEFINED","KOSOVO","INTERNATIONAL_WATERS","UNKNOWN"]}},{"name":"doi","in":"query","description":"Digital Object Identifier (DOI)","explode":true,"schema":{"type":"string"}},{"name":"gbifDatasetKey","in":"query","description":"GBIF dataset referenced in publication","explode":true,"schema":{"type":"string","format":"uuid"}},{"name":"gbifDownloadKey","in":"query","description":"Download referenced in publication","explode":true,"schema":{"type":"string"}},{"name":"gbifHigherTaxonKey","in":"query","explode":true,"schema":{"type":"integer","format":"int32"}},{"name":"gbifOccurrenceKey","in":"query","explode":true,"schema":{"type":"integer","format":"int64"}},{"name":"gbifTaxonKey","in":"query","explode":true,"schema":{"type":"integer","format":"int32"}},{"name":"literatureType","in":"query","description":"Type of literature, e.g. journal article.","explode":true,"schema":{"type":"string","enum":["JOURNAL","BOOK","GENERIC","BOOK_SECTION","CONFERENCE_PROCEEDINGS","WORKING_PAPER","REPORT","WEB_PAGE","THESIS","MAGAZINE_ARTICLE","STATUTE","PATENT","NEWSPAPER_ARTICLE","COMPUTER_PROGRAM","HEARING","TELEVISION_BROADCAST","ENCYCLOPEDIA_ARTICLE","CASE","FILM","BILL"]}},{"name":"openAccess","in":"query","description":"Is publication Open Access?","schema":{"type":"boolean"}},{"name":"peerReview","in":"query","description":"Has publication undergone peer-review?","schema":{"type":"boolean"}},{"name":"publisher","in":"query","description":"Publisher of journal","explode":true,"schema":{"type":"string"}},{"name":"publishingOrganizationKey","in":"query","description":"Publisher whose dataset is referenced in publication","explode":true,"schema":{"type":"string","format":"uuid"}},{"name":"relevance","in":"query","description":"Relevance to GBIF community, see #literature relevance#.","explode":true,"schema":{"type":"string","enum":["GBIF_USED","GBIF_CITED","GBIF_DISCUSSED","GBIF_PRIMARY","GBIF_ACKNOWLEDGED","GBIF_PUBLISHED","GBIF_AUTHOR","GBIF_MENTIONED","GBIF_FUNDED"]}},{"name":"source","in":"query","description":"Journal of publication","explode":true,"schema":{"type":"string"}},{"name":"topics","in":"query","description":"Topic of publication","explode":true,"schema":{"type":"string","enum":["AGRICULTURE","BIODIVERSITY_SCIENCE","BIOGEOGRAPHY","CITIZEN_SCIENCE","CLIMATE_CHANGE","CONSERVATION","DATA_MANAGEMENT","DATA_PAPER","ECOLOGY","ECOSYSTEM_SERVICES","EVOLUTION","FRESHWATER","HUMAN_HEALTH","INVASIVES","MARINE","PHYLOGENETICS","SPECIES_DISTRIBUTIONS","TAXONOMY"]}},{"name":"year","in":"query","description":"Year of publication","explode":true,"schema":{"type":"integer","format":"int32"}},{"name":"facet","in":"query","description":"A facet name used to retrieve the most frequent values for a field. This parameter may by repeated to request multiple facets","schema":{"type":"string"}},{"name":"facetLimit","in":"query","description":"Facet parameters allow paging requests using the parameters facetOffset and facetLimit","schema":{"type":"integer","format":"int32"}},{"name":"facetOffset","in":"query","description":"Facet parameters allow paging requests using the parameters facetOffset and facetLimit","schema":{"type":"integer","format":"int32"}},{"name":"facetMincount","in":"query","description":"Used in combination with the facet parameter. Set facetMincount={#} to exclude facets with a count less than {#}, e.g. /search?facet=type&limit=0&facetMincount=10000 only shows the type value 'OCCURRENCE' because 'CHECKLIST' and 'METADATA' have counts less than 10000.","schema":{"type":"integer","format":"int32"}},{"name":"facetMultiselect","in":"query","description":"Used in combination with the facet parameter. Set facetMultiselect=true to still return counts for values that are not currently filtered, e.g. /search?facet=type&limit=0&type=CHECKLIST&facetMultiselect=true still shows type values 'OCCURRENCE' and 'METADATA' even though type is being filtered by type=CHECKLIST","schema":{"type":"boolean"}},{"name":"hl","in":"query","description":"Set hl=true to highlight terms matching the query when in fulltext search fields. The highlight will be an emphasis tag of class 'gbifH1' e.g. /search?q=plant&hl=true. Fulltext search fields include: title, keyword, country, publishing country, publishing organization title, hosting organization title, and description. One additional full text field is searched which includes information from metadata documents, but the text of this field is not returned in the response.","schema":{"type":"boolean"}},{"name":"q","in":"query","description":"Simple full text search parameter. The value for this parameter can be a simple word or a phrase. Wildcards are not supported","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 20, will get the second page of 20 results. ","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Literature items found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LiteratureSearchResult"}}}},"400":{"description":"Invalid search query"}}}}},"components":{"schemas":{"LiteratureSearchResult":{"type":"object","properties":{"discovered":{"type":"string"},"authors":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}},"countriesOfCoverage":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["AFGHANISTAN","ALAND_ISLANDS","ALBANIA","ALGERIA","AMERICAN_SAMOA","ANDORRA","ANGOLA","ANGUILLA","ANTARCTICA","ANTIGUA_BARBUDA","ARGENTINA","ARMENIA","ARUBA","AUSTRALIA","AUSTRIA","AZERBAIJAN","BAHAMAS","BAHRAIN","BANGLADESH","BARBADOS","BELARUS","BELGIUM","BELIZE","BENIN","BERMUDA","BHUTAN","BOLIVIA","BONAIRE_SINT_EUSTATIUS_SABA","BOSNIA_HERZEGOVINA","BOTSWANA","BOUVET_ISLAND","BRAZIL","BRITISH_INDIAN_OCEAN_TERRITORY","BRUNEI_DARUSSALAM","BULGARIA","BURKINA_FASO","BURUNDI","CAMBODIA","CAMEROON","CANADA","CAPE_VERDE","CAYMAN_ISLANDS","CENTRAL_AFRICAN_REPUBLIC","CHAD","CHILE","CHINA","CHRISTMAS_ISLAND","COCOS_ISLANDS","COLOMBIA","COMOROS","CONGO_DEMOCRATIC_REPUBLIC","CONGO","COOK_ISLANDS","COSTA_RICA","CÔTE_DIVOIRE","CROATIA","CUBA","CURAÇAO","CYPRUS","CZECH_REPUBLIC","DENMARK","DJIBOUTI","DOMINICA","DOMINICAN_REPUBLIC","ECUADOR","EGYPT","EL_SALVADOR","EQUATORIAL_GUINEA","ERITREA","ESTONIA","ETHIOPIA","FALKLAND_ISLANDS","FAROE_ISLANDS","FIJI","FINLAND","FRANCE","FRENCH_GUIANA","FRENCH_POLYNESIA","FRENCH_SOUTHERN_TERRITORIES","GABON","GAMBIA","GEORGIA","GERMANY","GHANA","GIBRALTAR","GREECE","GREENLAND","GRENADA","GUADELOUPE","GUAM","GUATEMALA","GUERNSEY","GUINEA","GUINEA_BISSAU","GUYANA","HAITI","HEARD_MCDONALD_ISLANDS","VATICAN","HONDURAS","HONG_KONG","HUNGARY","ICELAND","INDIA","INDONESIA","IRAN","IRAQ","IRELAND","ISLE_OF_MAN","ISRAEL","ITALY","JAMAICA","JAPAN","JERSEY","JORDAN","KAZAKHSTAN","KENYA","KIRIBATI","KOREA_NORTH","KOREA_SOUTH","KUWAIT","KYRGYZSTAN","LAO","LATVIA","LEBANON","LESOTHO","LIBERIA","LIBYA","LIECHTENSTEIN","LITHUANIA","LUXEMBOURG","MACAO","MACEDONIA","MADAGASCAR","MALAWI","MALAYSIA","MALDIVES","MALI","MALTA","MARSHALL_ISLANDS","MARTINIQUE","MAURITANIA","MAURITIUS","MAYOTTE","MEXICO","MICRONESIA","MOLDOVA","MONACO","MONGOLIA","MONTENEGRO","MONTSERRAT","MOROCCO","MOZAMBIQUE","MYANMAR","NAMIBIA","NAURU","NEPAL","NETHERLANDS","NEW_CALEDONIA","NEW_ZEALAND","NICARAGUA","NIGER","NIGERIA","NIUE","NORFOLK_ISLAND","NORTHERN_MARIANA_ISLANDS","NORWAY","OMAN","PAKISTAN","PALAU","PALESTINIAN_TERRITORY","PANAMA","PAPUA_NEW_GUINEA","PARAGUAY","PERU","PHILIPPINES","PITCAIRN","POLAND","PORTUGAL","PUERTO_RICO","QATAR","RÉUNION","ROMANIA","RUSSIAN_FEDERATION","RWANDA","SAINT_BARTHÉLEMY","SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA","SAINT_KITTS_NEVIS","SAINT_LUCIA","SAINT_MARTIN_FRENCH","SAINT_PIERRE_MIQUELON","SAINT_VINCENT_GRENADINES","SAMOA","SAN_MARINO","SAO_TOME_PRINCIPE","SAUDI_ARABIA","SENEGAL","SERBIA","SEYCHELLES","SIERRA_LEONE","SINGAPORE","SINT_MAARTEN","SLOVAKIA","SLOVENIA","SOLOMON_ISLANDS","SOMALIA","SOUTH_AFRICA","SOUTH_GEORGIA_SANDWICH_ISLANDS","SOUTH_SUDAN","SPAIN","SRI_LANKA","SUDAN","SURINAME","SVALBARD_JAN_MAYEN","SWAZILAND","SWEDEN","SWITZERLAND","SYRIA","TAIWAN","TAJIKISTAN","TANZANIA","THAILAND","TIMOR_LESTE","TOGO","TOKELAU","TONGA","TRINIDAD_TOBAGO","TUNISIA","TURKEY","TURKMENISTAN","TURKS_CAICOS_ISLANDS","TUVALU","UGANDA","UKRAINE","UNITED_ARAB_EMIRATES","UNITED_KINGDOM","UNITED_STATES","UNITED_STATES_OUTLYING_ISLANDS","URUGUAY","UZBEKISTAN","VANUATU","VENEZUELA","VIETNAM","VIRGIN_ISLANDS_BRITISH","VIRGIN_ISLANDS","WALLIS_FUTUNA","WESTERN_SAHARA","YEMEN","ZAMBIA","ZIMBABWE","USER_DEFINED","KOSOVO","INTERNATIONAL_WATERS","UNKNOWN"]}},"countriesOfResearcher":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["AFGHANISTAN","ALAND_ISLANDS","ALBANIA","ALGERIA","AMERICAN_SAMOA","ANDORRA","ANGOLA","ANGUILLA","ANTARCTICA","ANTIGUA_BARBUDA","ARGENTINA","ARMENIA","ARUBA","AUSTRALIA","AUSTRIA","AZERBAIJAN","BAHAMAS","BAHRAIN","BANGLADESH","BARBADOS","BELARUS","BELGIUM","BELIZE","BENIN","BERMUDA","BHUTAN","BOLIVIA","BONAIRE_SINT_EUSTATIUS_SABA","BOSNIA_HERZEGOVINA","BOTSWANA","BOUVET_ISLAND","BRAZIL","BRITISH_INDIAN_OCEAN_TERRITORY","BRUNEI_DARUSSALAM","BULGARIA","BURKINA_FASO","BURUNDI","CAMBODIA","CAMEROON","CANADA","CAPE_VERDE","CAYMAN_ISLANDS","CENTRAL_AFRICAN_REPUBLIC","CHAD","CHILE","CHINA","CHRISTMAS_ISLAND","COCOS_ISLANDS","COLOMBIA","COMOROS","CONGO_DEMOCRATIC_REPUBLIC","CONGO","COOK_ISLANDS","COSTA_RICA","CÔTE_DIVOIRE","CROATIA","CUBA","CURAÇAO","CYPRUS","CZECH_REPUBLIC","DENMARK","DJIBOUTI","DOMINICA","DOMINICAN_REPUBLIC","ECUADOR","EGYPT","EL_SALVADOR","EQUATORIAL_GUINEA","ERITREA","ESTONIA","ETHIOPIA","FALKLAND_ISLANDS","FAROE_ISLANDS","FIJI","FINLAND","FRANCE","FRENCH_GUIANA","FRENCH_POLYNESIA","FRENCH_SOUTHERN_TERRITORIES","GABON","GAMBIA","GEORGIA","GERMANY","GHANA","GIBRALTAR","GREECE","GREENLAND","GRENADA","GUADELOUPE","GUAM","GUATEMALA","GUERNSEY","GUINEA","GUINEA_BISSAU","GUYANA","HAITI","HEARD_MCDONALD_ISLANDS","VATICAN","HONDURAS","HONG_KONG","HUNGARY","ICELAND","INDIA","INDONESIA","IRAN","IRAQ","IRELAND","ISLE_OF_MAN","ISRAEL","ITALY","JAMAICA","JAPAN","JERSEY","JORDAN","KAZAKHSTAN","KENYA","KIRIBATI","KOREA_NORTH","KOREA_SOUTH","KUWAIT","KYRGYZSTAN","LAO","LATVIA","LEBANON","LESOTHO","LIBERIA","LIBYA","LIECHTENSTEIN","LITHUANIA","LUXEMBOURG","MACAO","MACEDONIA","MADAGASCAR","MALAWI","MALAYSIA","MALDIVES","MALI","MALTA","MARSHALL_ISLANDS","MARTINIQUE","MAURITANIA","MAURITIUS","MAYOTTE","MEXICO","MICRONESIA","MOLDOVA","MONACO","MONGOLIA","MONTENEGRO","MONTSERRAT","MOROCCO","MOZAMBIQUE","MYANMAR","NAMIBIA","NAURU","NEPAL","NETHERLANDS","NEW_CALEDONIA","NEW_ZEALAND","NICARAGUA","NIGER","NIGERIA","NIUE","NORFOLK_ISLAND","NORTHERN_MARIANA_ISLANDS","NORWAY","OMAN","PAKISTAN","PALAU","PALESTINIAN_TERRITORY","PANAMA","PAPUA_NEW_GUINEA","PARAGUAY","PERU","PHILIPPINES","PITCAIRN","POLAND","PORTUGAL","PUERTO_RICO","QATAR","RÉUNION","ROMANIA","RUSSIAN_FEDERATION","RWANDA","SAINT_BARTHÉLEMY","SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA","SAINT_KITTS_NEVIS","SAINT_LUCIA","SAINT_MARTIN_FRENCH","SAINT_PIERRE_MIQUELON","SAINT_VINCENT_GRENADINES","SAMOA","SAN_MARINO","SAO_TOME_PRINCIPE","SAUDI_ARABIA","SENEGAL","SERBIA","SEYCHELLES","SIERRA_LEONE","SINGAPORE","SINT_MAARTEN","SLOVAKIA","SLOVENIA","SOLOMON_ISLANDS","SOMALIA","SOUTH_AFRICA","SOUTH_GEORGIA_SANDWICH_ISLANDS","SOUTH_SUDAN","SPAIN","SRI_LANKA","SUDAN","SURINAME","SVALBARD_JAN_MAYEN","SWAZILAND","SWEDEN","SWITZERLAND","SYRIA","TAIWAN","TAJIKISTAN","TANZANIA","THAILAND","TIMOR_LESTE","TOGO","TOKELAU","TONGA","TRINIDAD_TOBAGO","TUNISIA","TURKEY","TURKMENISTAN","TURKS_CAICOS_ISLANDS","TUVALU","UGANDA","UKRAINE","UNITED_ARAB_EMIRATES","UNITED_KINGDOM","UNITED_STATES","UNITED_STATES_OUTLYING_ISLANDS","URUGUAY","UZBEKISTAN","VANUATU","VENEZUELA","VIETNAM","VIRGIN_ISLANDS_BRITISH","VIRGIN_ISLANDS","WALLIS_FUTUNA","WESTERN_SAHARA","YEMEN","ZAMBIA","ZIMBABWE","USER_DEFINED","KOSOVO","INTERNATIONAL_WATERS","UNKNOWN"]}},"added":{"type":"string","format":"date-time"},"published":{"type":"string","format":"date-time"},"day":{"type":"integer","format":"int32"},"gbifDownloadKey":{"type":"array","items":{"type":"string"}},"gbifOccurrenceKey":{"type":"array","items":{"type":"integer","format":"int64"}},"gbifTaxonKey":{"type":"array","items":{"type":"integer","format":"int32"}},"gbifHigherTaxonKey":{"type":"array","items":{"type":"integer","format":"int32"}},"citationType":{"type":"string"},"gbifRegion":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["AFRICA","ASIA","EUROPE","NORTH_AMERICA","OCEANIA","LATIN_AMERICA","ANTARCTICA"]}},"id":{"type":"string","format":"uuid"},"identifiers":{"type":"object","additionalProperties":{"type":"object"}},"keywords":{"type":"array","items":{"type":"string"}},"language":{"type":"string","enum":["abk","aar","afr","aka","sqi","amh","ara","arg","hye","asm","ava","ave","aym","aze","bam","bak","eus","bel","ben","bih","bis","bos","bre","bul","mya","cat","cha","che","zho","chu","chv","cor","cos","cre","hrv","ces","dan","div","nld","dzo","eng","epo","est","ewe","fao","fij","fin","fra","fry","ful","glg","lug","kat","deu","ell","kal","grn","guj","hat","hau","heb","her","hin","hmo","hun","isl","ido","ibo","ind","ina","ile","iku","ipk","gle","ita","jpn","jav","kan","kau","kas","kaz","khm","kik","kin","kir","kom","kon","kor","kur","kua","lao","lat","lav","lim","lin","lit","lub","ltz","mkd","mlg","msa","mal","mlt","glv","mri","mar","mah","mol","mon","nau","nav","ndo","nep","nde","sme","nob","nno","nor","nya","oci","oji","ori","orm","oss","pli","pan","fas","pol","por","pus","que","roh","ron","run","rus","smo","sag","san","srd","gla","srp","sna","iii","snd","sin","slk","slv","som","nbl","sot","spa","sun","swa","ssw","swe","tgl","tah","tgk","tam","tat","tel","tha","bod","tir","ton","tso","tsn","tur","tuk","twi","uig","ukr","urd","uzb","ven","vie","vol","wln","cym","wol","xho","yid","yor","zha","zul",""]},"literatureType":{"type":"string","enum":["JOURNAL","BOOK","GENERIC","BOOK_SECTION","CONFERENCE_PROCEEDINGS","WORKING_PAPER","REPORT","WEB_PAGE","THESIS","MAGAZINE_ARTICLE","STATUTE","PATENT","NEWSPAPER_ARTICLE","COMPUTER_PROGRAM","HEARING","TELEVISION_BROADCAST","ENCYCLOPEDIA_ARTICLE","CASE","FILM","BILL"]},"month":{"type":"integer","format":"int32"},"notes":{"type":"string"},"openAccess":{"type":"boolean"},"peerReview":{"type":"boolean"},"publisher":{"type":"string"},"relevance":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["GBIF_USED","GBIF_CITED","GBIF_DISCUSSED","GBIF_PRIMARY","GBIF_ACKNOWLEDGED","GBIF_PUBLISHED","GBIF_AUTHOR","GBIF_MENTIONED","GBIF_FUNDED"]}},"source":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"title":{"type":"string"},"topics":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["AGRICULTURE","BIODIVERSITY_SCIENCE","BIOGEOGRAPHY","CITIZEN_SCIENCE","CLIMATE_CHANGE","CONSERVATION","DATA_MANAGEMENT","DATA_PAPER","ECOLOGY","ECOSYSTEM_SERVICES","EVOLUTION","FRESHWATER","HUMAN_HEALTH","INVASIVES","MARINE","PHYLOGENETICS","SPECIES_DISTRIBUTIONS","TAXONOMY"]}},"modified":{"type":"string","format":"date-time"},"websites":{"type":"array","items":{"type":"string"}},"year":{"type":"integer","format":"int32"},"abstract":{"type":"string"}}}}}}