.doc .admonitionblock.nature td.icon,
.doc .admonitionblock.location td.icon,
.doc .admonitionblock.occurrence td.icon,
.doc .admonitionblock.event td.icon {
    position: static;
    width: 90px;
    transform: none;
    -webkit-transform: none;
    background-color: transparent;
    border-radius: 0;
    vertical-align: top;
    padding-top: 5px;;
}

.doc .admonitionblock.nature td.icon .icon-note,
.doc .admonitionblock.location td.icon .icon-note,
.doc .admonitionblock.occurrence td.icon .icon-note,
.doc .admonitionblock.event td.icon .icon-note {
    width: 75px;
    height: 75px;
}

.doc .admonitionblock.nature td.icon .icon-note {
    background: radial-gradient(circle, #cdd4a1, #cdd4a1 66%, transparent 66%);
    content: url(../images/icons/nature.png);
}

.doc .admonitionblock.location td.icon .icon-note {
    background: radial-gradient(circle, #dadbdf, #dadbdf 66%, transparent 66%);
    content: url(../images/icons/world-map.png);
}

.doc .admonitionblock.occurrence td.icon .icon-note {
    background: radial-gradient(circle, #859643, #859643 66%, transparent 66%);
    content: url(../images/icons/map.png);
}

.doc .admonitionblock.event td.icon .icon-note {
    background: radial-gradient(circle, #598046, #598046 66%, transparent 66%);
    content: url(../images/icons/delivery-service.png);
}

/* LAR style */

.doc .figure-caption {
    font-size: small;
    font-style: normal;
}
