.clustering-table-conditions tbody tr:nth-child(0n+1) { background: #d5c3fd; }
.clustering-table-conditions tbody tr:nth-child(0n+2) { background: #d5c3fd; }
.clustering-table-conditions tbody tr:nth-child(0n+3) { background: #e2efda; }
.clustering-table-conditions tbody tr:nth-child(0n+4) { background: #bdd7ee; }
.clustering-table-conditions tbody tr:nth-child(0n+5) { background: #bdd7ee; }
.clustering-table-conditions tbody tr:nth-child(0n+6) { background: #bdd7ee; }
.clustering-table-conditions tbody tr:nth-child(0n+7) { background: #fff2cc; }
.clustering-table-conditions tbody tr:nth-child(0n+8) { background: #fff2cc; }
.clustering-table-conditions tbody tr:nth-child(0n+9) { background: #fff2cc; }
.clustering-table-conditions tbody tr:nth-child(0n+10) { background: #fff2cc; }
.clustering-table-conditions tbody tr:nth-child(0n+11) { background: #fce4d6; }
.clustering-table-conditions tbody tr:nth-child(0n+12) { background: #fce4d6; }
.clustering-table-conditions tbody tr:nth-child(0n+13) { background: #d0cece; }
.clustering-table-conditions tbody tr:nth-child(0n+14) { background: #a1d9d2; }
.clustering-table-conditions tbody tr:nth-child(0n+15) { background: #ffa1c0; }
