<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head defaultPageTitle='Untitled'}}
    <style>
      rapi-doc {
        height: calc(100vh - 63px);
        overflow: auto;
      }
    </style>
  </head>
  <body class="swagger">
    {{> header}}

    <rapi-doc
        spec-url="{{page.attributes.openapi-url}}"
        theme = "light"
        show-header = 'false'
        primary-color = "#4ba2ce"
        nav-bg-color = "#f7f9fa"
        nav-text-color = "#4e565f"
        nav-hover-bg-color = "#e7edf0"
        nav-hover-text-color = "#4e565f"
      > </rapi-doc>
    <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
  </body>
</html>
