{
  "openapi": "3.0.1",
  "info": {
    "title": "Occurrence API",
    "description": "This API works against the GBIF Occurrence Store, which handles occurrence records and makes them available through the web service and download files.\nInternally we use a [Java web service client](https://github.com/gbif/occurrence/tree/master/occurrence-ws-client) for the consumption of these HTTP-based, RESTful web services.\n",
    "termsOfService": "https://www.gbif.org/terms",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.gbif.org/v1/",
      "description": "Production",
      "variables": {}
    },
    {
      "url": "https://api.gbif-uat.org/v1/",
      "description": "User testing",
      "variables": {}
    }
  ],
  "tags": [
    {
      "name": "Occurrences",
      "description": "This API provides services related to the retrieval of single occurrence records."
    },
    {
      "name": "Occurrence downloads",
      "description": "This API provides services for bulk downloads of occurrences."
    },
    {
      "name": "Occurrence download formats",
      "description": "This API lists the fields present in the various download formats, their data types and their term identifiers."
    },
    {
      "name": "Searching occurrences",
      "description": "This API provides services for searching occurrence records that have been indexed by GBIF.\n\nIn order to retrieve all results for a given search filter you need to issue individual requests for each page, which is limited to a maximum size of 300 records per page. Note that for technical reasons we also have a hard limit for any query of 100,000 records. You will get an error if the offset + limit exceeds 100,000. To retrieve all records beyond 100,000 you should use our asynchronous download service (below) instead."
    }
  ],
  "paths": {
    "/occurrence/search/predicate": {
      "post": {
        "tags": [
          "Searching occurrences"
        ],
        "operationId": "search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OccurrencePredicateSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponseOccurrenceOccurrenceSearchParameter"
                }
              },
              "application/x-javascript": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponseOccurrenceOccurrenceSearchParameter"
                }
              }
            }
          }
        }
      }
    },
    "/occurrence/search": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Occurrence search",
        "description": "Full search across all occurrences. Results are ordered by relevance.",
        "operationId": "searchOccurrence",
        "parameters": [
          {
            "name": "basisOfRecord",
            "in": "query",
            "description": "Basis of record, as defined in our BasisOfRecord vocabulary",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "PRESERVED_SPECIMEN",
                "FOSSIL_SPECIMEN",
                "LIVING_SPECIMEN",
                "OBSERVATION",
                "HUMAN_OBSERVATION",
                "MACHINE_OBSERVATION",
                "MATERIAL_SAMPLE",
                "LITERATURE",
                "MATERIAL_CITATION",
                "OCCURRENCE",
                "UNKNOWN"
              ]
            }
          },
          {
            "name": "catalogNumber",
            "in": "query",
            "description": "An identifier of any form assigned by the source within a physical collection or digital dataset for the record which may not be unique, but should be fairly unique in combination with the institution and collection code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "classKey",
            "in": "query",
            "description": "Class classification key.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "collectionCode",
            "in": "query",
            "description": "An identifier of any form assigned by the source to identify the physical collection or digital dataset uniquely within the context of an institution.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "continent",
            "in": "query",
            "description": "Continent, as defined in our Continent vocabulary",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "AFRICA",
                "ANTARCTICA",
                "ASIA",
                "OCEANIA",
                "EUROPE",
                "NORTH_AMERICA",
                "SOUTH_AMERICA"
              ]
            }
          },
          {
            "name": "coordinateUncertaintyInMeters",
            "in": "query",
            "description": "The horizontal distance (in meters) from the given decimalLatitude and decimalLongitude describing the smallest circle containing the whole of the Location. Supports range queries.",
            "schema": {
              "$ref": "#/components/schemas/Range"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "The 2-letter country code (as per ISO-3166-1) of the country in which the occurrence was recorded.",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "AFGHANISTAN",
                "ALAND_ISLANDS",
                "ALBANIA",
                "ALGERIA",
                "AMERICAN_SAMOA",
                "ANDORRA",
                "ANGOLA",
                "ANGUILLA",
                "ANTARCTICA",
                "ANTIGUA_BARBUDA",
                "ARGENTINA",
                "ARMENIA",
                "ARUBA",
                "AUSTRALIA",
                "AUSTRIA",
                "AZERBAIJAN",
                "BAHAMAS",
                "BAHRAIN",
                "BANGLADESH",
                "BARBADOS",
                "BELARUS",
                "BELGIUM",
                "BELIZE",
                "BENIN",
                "BERMUDA",
                "BHUTAN",
                "BOLIVIA",
                "BONAIRE_SINT_EUSTATIUS_SABA",
                "BOSNIA_HERZEGOVINA",
                "BOTSWANA",
                "BOUVET_ISLAND",
                "BRAZIL",
                "BRITISH_INDIAN_OCEAN_TERRITORY",
                "BRUNEI_DARUSSALAM",
                "BULGARIA",
                "BURKINA_FASO",
                "BURUNDI",
                "CAMBODIA",
                "CAMEROON",
                "CANADA",
                "CAPE_VERDE",
                "CAYMAN_ISLANDS",
                "CENTRAL_AFRICAN_REPUBLIC",
                "CHAD",
                "CHILE",
                "CHINA",
                "CHRISTMAS_ISLAND",
                "COCOS_ISLANDS",
                "COLOMBIA",
                "COMOROS",
                "CONGO_DEMOCRATIC_REPUBLIC",
                "CONGO",
                "COOK_ISLANDS",
                "COSTA_RICA",
                "CÔTE_DIVOIRE",
                "CROATIA",
                "CUBA",
                "CURAÇAO",
                "CYPRUS",
                "CZECH_REPUBLIC",
                "DENMARK",
                "DJIBOUTI",
                "DOMINICA",
                "DOMINICAN_REPUBLIC",
                "ECUADOR",
                "EGYPT",
                "EL_SALVADOR",
                "EQUATORIAL_GUINEA",
                "ERITREA",
                "ESTONIA",
                "ETHIOPIA",
                "FALKLAND_ISLANDS",
                "FAROE_ISLANDS",
                "FIJI",
                "FINLAND",
                "FRANCE",
                "FRENCH_GUIANA",
                "FRENCH_POLYNESIA",
                "FRENCH_SOUTHERN_TERRITORIES",
                "GABON",
                "GAMBIA",
                "GEORGIA",
                "GERMANY",
                "GHANA",
                "GIBRALTAR",
                "GREECE",
                "GREENLAND",
                "GRENADA",
                "GUADELOUPE",
                "GUAM",
                "GUATEMALA",
                "GUERNSEY",
                "GUINEA",
                "GUINEA_BISSAU",
                "GUYANA",
                "HAITI",
                "HEARD_MCDONALD_ISLANDS",
                "VATICAN",
                "HONDURAS",
                "HONG_KONG",
                "HUNGARY",
                "ICELAND",
                "INDIA",
                "INDONESIA",
                "IRAN",
                "IRAQ",
                "IRELAND",
                "ISLE_OF_MAN",
                "ISRAEL",
                "ITALY",
                "JAMAICA",
                "JAPAN",
                "JERSEY",
                "JORDAN",
                "KAZAKHSTAN",
                "KENYA",
                "KIRIBATI",
                "KOREA_NORTH",
                "KOREA_SOUTH",
                "KUWAIT",
                "KYRGYZSTAN",
                "LAO",
                "LATVIA",
                "LEBANON",
                "LESOTHO",
                "LIBERIA",
                "LIBYA",
                "LIECHTENSTEIN",
                "LITHUANIA",
                "LUXEMBOURG",
                "MACAO",
                "MACEDONIA",
                "MADAGASCAR",
                "MALAWI",
                "MALAYSIA",
                "MALDIVES",
                "MALI",
                "MALTA",
                "MARSHALL_ISLANDS",
                "MARTINIQUE",
                "MAURITANIA",
                "MAURITIUS",
                "MAYOTTE",
                "MEXICO",
                "MICRONESIA",
                "MOLDOVA",
                "MONACO",
                "MONGOLIA",
                "MONTENEGRO",
                "MONTSERRAT",
                "MOROCCO",
                "MOZAMBIQUE",
                "MYANMAR",
                "NAMIBIA",
                "NAURU",
                "NEPAL",
                "NETHERLANDS",
                "NEW_CALEDONIA",
                "NEW_ZEALAND",
                "NICARAGUA",
                "NIGER",
                "NIGERIA",
                "NIUE",
                "NORFOLK_ISLAND",
                "NORTHERN_MARIANA_ISLANDS",
                "NORWAY",
                "OMAN",
                "PAKISTAN",
                "PALAU",
                "PALESTINIAN_TERRITORY",
                "PANAMA",
                "PAPUA_NEW_GUINEA",
                "PARAGUAY",
                "PERU",
                "PHILIPPINES",
                "PITCAIRN",
                "POLAND",
                "PORTUGAL",
                "PUERTO_RICO",
                "QATAR",
                "RÉUNION",
                "ROMANIA",
                "RUSSIAN_FEDERATION",
                "RWANDA",
                "SAINT_BARTHÉLEMY",
                "SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA",
                "SAINT_KITTS_NEVIS",
                "SAINT_LUCIA",
                "SAINT_MARTIN_FRENCH",
                "SAINT_PIERRE_MIQUELON",
                "SAINT_VINCENT_GRENADINES",
                "SAMOA",
                "SAN_MARINO",
                "SAO_TOME_PRINCIPE",
                "SAUDI_ARABIA",
                "SENEGAL",
                "SERBIA",
                "SEYCHELLES",
                "SIERRA_LEONE",
                "SINGAPORE",
                "SINT_MAARTEN",
                "SLOVAKIA",
                "SLOVENIA",
                "SOLOMON_ISLANDS",
                "SOMALIA",
                "SOUTH_AFRICA",
                "SOUTH_GEORGIA_SANDWICH_ISLANDS",
                "SOUTH_SUDAN",
                "SPAIN",
                "SRI_LANKA",
                "SUDAN",
                "SURINAME",
                "SVALBARD_JAN_MAYEN",
                "SWAZILAND",
                "SWEDEN",
                "SWITZERLAND",
                "SYRIA",
                "TAIWAN",
                "TAJIKISTAN",
                "TANZANIA",
                "THAILAND",
                "TIMOR_LESTE",
                "TOGO",
                "TOKELAU",
                "TONGA",
                "TRINIDAD_TOBAGO",
                "TUNISIA",
                "TURKEY",
                "TURKMENISTAN",
                "TURKS_CAICOS_ISLANDS",
                "TUVALU",
                "UGANDA",
                "UKRAINE",
                "UNITED_ARAB_EMIRATES",
                "UNITED_KINGDOM",
                "UNITED_STATES",
                "UNITED_STATES_OUTLYING_ISLANDS",
                "URUGUAY",
                "UZBEKISTAN",
                "VANUATU",
                "VENEZUELA",
                "VIETNAM",
                "VIRGIN_ISLANDS_BRITISH",
                "VIRGIN_ISLANDS",
                "WALLIS_FUTUNA",
                "WESTERN_SAHARA",
                "YEMEN",
                "ZAMBIA",
                "ZIMBABWE",
                "USER_DEFINED",
                "KOSOVO",
                "INTERNATIONAL_WATERS",
                "UNKNOWN"
              ]
            }
          },
          {
            "name": "crawlId",
            "in": "query",
            "description": "Crawl attempt that harvested this record.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "datasetId",
            "in": "query",
            "description": "The ID of the dataset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetKey",
            "in": "query",
            "description": "The occurrence dataset key (a UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "datasetName",
            "in": "query",
            "description": "The name of the dataset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "decimalLatitude",
            "in": "query",
            "description": "Latitude in decimals between -90 and 90 based on WGS 84. Supports range queries.",
            "schema": {
              "$ref": "#/components/schemas/Range"
            }
          },
          {
            "name": "decimalLongitude",
            "in": "query",
            "description": "Longitude in decimals between -180 and 180 based on WGS 84. Supports range queries.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Depth in meters relative to altitude. For example 10 meters below a lake surface with given altitude. Supports range queries.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "elevation",
            "in": "query",
            "description": "Elevation (altitude) in meters above sea level. Supports range queries.",
            "schema": {
              "$ref": "#/components/schemas/Range"
            }
          },
          {
            "name": "establishmentMeans",
            "in": "query",
            "description": "EstablishmentMeans, as defined in our EstablishmentMeans enum",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventDate",
            "in": "query",
            "description": "Occurrence date in ISO 8601 format: yyyy, yyyy-MM, yyyy-MM-dd, or MM-dd. Supports range queries.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "description": "An identifier for the information associated with a sampling event.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "familyKey",
            "in": "query",
            "description": "Family classification key.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Export format, accepts TSV(default) and CSV",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Start partial date of a date range, accepts the format yyyy-MM, for example: 2015-11",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gadmGid",
            "in": "query",
            "description": "A GADM geographic identifier at any level, for example AGO, AGO.1_1, AGO.1.1_1 or AGO.1.1.1_1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gadmLevel",
            "in": "query",
            "description": "A GADM region level, valid values range from 0 to 3",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gadmLevel0Gid",
            "in": "query",
            "description": "A GADM geographic identifier at the zero level, for example AGO",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gadmLevel1Gid",
            "in": "query",
            "description": "A GADM geographic identifier at the first level, for example AGO.1_1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gadmLevel2Gid",
            "in": "query",
            "description": "A GADM geographic identifier at the second level, for example AFG.1.1_1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gadmLevel3Gid",
            "in": "query",
            "description": "A GADM geographic identifier at the third level, for example AFG.1.1.1_1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "genusKey",
            "in": "query",
            "description": "Genus classification key.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "geoDistance",
            "in": "query",
            "description": "Filters to match occurrence records with coordinate values within a specified distance of a coordinate, it supports units: in (inch), yd (yards), ft (feet), km (kilometers), mmi (nautical miles), mm (millimeters), cm centimeters, mi (miles), m (meters), for example /occurrence/search?geoDistance=90,100,5km",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geometry",
            "in": "query",
            "description": "Searches for occurrences inside a polygon described in Well Known Text (WKT) format. Only POINT, LINESTRING, LINEARRING, POLYGON and MULTIPOLYGON are accepted WKT types. For example, a shape written as POLYGON ((30.1 10.1, 40 40, 20 40, 10 20, 30.1 10.1)) would be queried as is, i.e. /occurrence/search?geometry=POLYGON((30.1 10.1, 40 40, 20 40, 10 20, 30.1 10.1)). _Polygons must have *anticlockwise* ordering of points, or will give unpredictable results._ (A clockwise polygon represents the opposite area: the Earth's surface with a 'hole' in it. Such queries are not supported.)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hasCoordinate",
            "in": "query",
            "description": "Limits searches to occurrence records which contain a value in both latitude and longitude (i.e. hasCoordinate=true limits to occurrence records with coordinate values and hasCoordinate=false limits to occurrence records without coordinate values).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifiedBy",
            "in": "query",
            "description": "The person who provided the taxonomic identification of the occurrence.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifiedByID",
            "in": "query",
            "description": "Identifier (e.g. ORCID) for the person who provided the taxonomic identification of the occurrence.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "institutionCode",
            "in": "query",
            "description": "An identifier of any form assigned by the source to identify the institution the record belongs to. Not guaranteed to be unique.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issue",
            "in": "query",
            "description": "A specific interpretation issue as defined in our OccurrenceIssue enum",
            "schema": {
              "type": "string",
              "enum": [
                "ZERO_COORDINATE",
                "COORDINATE_OUT_OF_RANGE",
                "COORDINATE_INVALID",
                "COORDINATE_ROUNDED",
                "GEODETIC_DATUM_INVALID",
                "GEODETIC_DATUM_ASSUMED_WGS84",
                "COORDINATE_REPROJECTED",
                "COORDINATE_REPROJECTION_FAILED",
                "COORDINATE_REPROJECTION_SUSPICIOUS",
                "COORDINATE_ACCURACY_INVALID",
                "COORDINATE_PRECISION_INVALID",
                "COORDINATE_UNCERTAINTY_METERS_INVALID",
                "COORDINATE_PRECISION_UNCERTAINTY_MISMATCH",
                "FOOTPRINT_SRS_INVALID",
                "FOOTPRINT_WKT_MISMATCH",
                "FOOTPRINT_WKT_INVALID",
                "COUNTRY_COORDINATE_MISMATCH",
                "COUNTRY_MISMATCH",
                "COUNTRY_INVALID",
                "COUNTRY_DERIVED_FROM_COORDINATES",
                "CONTINENT_COORDINATE_MISMATCH",
                "CONTINENT_COUNTRY_MISMATCH",
                "CONTINENT_INVALID",
                "CONTINENT_DERIVED_FROM_COUNTRY",
                "CONTINENT_DERIVED_FROM_COORDINATES",
                "PRESUMED_SWAPPED_COORDINATE",
                "PRESUMED_NEGATED_LONGITUDE",
                "PRESUMED_NEGATED_LATITUDE",
                "RECORDED_DATE_MISMATCH",
                "RECORDED_DATE_INVALID",
                "RECORDED_DATE_UNLIKELY",
                "TAXON_MATCH_FUZZY",
                "TAXON_MATCH_HIGHERRANK",
                "TAXON_MATCH_AGGREGATE",
                "TAXON_MATCH_NONE",
                "DEPTH_NOT_METRIC",
                "DEPTH_UNLIKELY",
                "DEPTH_MIN_MAX_SWAPPED",
                "DEPTH_NON_NUMERIC",
                "ELEVATION_UNLIKELY",
                "ELEVATION_MIN_MAX_SWAPPED",
                "ELEVATION_NOT_METRIC",
                "ELEVATION_NON_NUMERIC",
                "MODIFIED_DATE_INVALID",
                "MODIFIED_DATE_UNLIKELY",
                "IDENTIFIED_DATE_UNLIKELY",
                "IDENTIFIED_DATE_INVALID",
                "BASIS_OF_RECORD_INVALID",
                "TYPE_STATUS_INVALID",
                "MULTIMEDIA_DATE_INVALID",
                "MULTIMEDIA_URI_INVALID",
                "REFERENCES_URI_INVALID",
                "INTERPRETATION_ERROR",
                "INDIVIDUAL_COUNT_INVALID",
                "INDIVIDUAL_COUNT_CONFLICTS_WITH_OCCURRENCE_STATUS",
                "OCCURRENCE_STATUS_UNPARSABLE",
                "OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COUNT",
                "OCCURRENCE_STATUS_INFERRED_FROM_BASIS_OF_RECORD",
                "GEOREFERENCED_DATE_UNLIKELY",
                "GEOREFERENCED_DATE_INVALID",
                "AMBIGUOUS_INSTITUTION",
                "AMBIGUOUS_COLLECTION",
                "INSTITUTION_MATCH_NONE",
                "COLLECTION_MATCH_NONE",
                "INSTITUTION_MATCH_FUZZY",
                "COLLECTION_MATCH_FUZZY",
                "INSTITUTION_COLLECTION_MISMATCH",
                "POSSIBLY_ON_LOAN",
                "DIFFERENT_OWNER_INSTITUTION"
              ]
            }
          },
          {
            "name": "kingdomKey",
            "in": "query",
            "description": "Kingdom classification key.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lastInterpreted",
            "in": "query",
            "description": "This date the record was last modified in GBIF, in ISO 8601 format: yyyy, yyyy-MM, yyyy-MM-dd, or MM-dd. Supports range queries. Note that this is the date the record was last changed in GBIF, not necessarily the date the record was first/last changed by the publisher. Data is re-interpreted when we change the taxonomic backbone, geographic data sources, or interpretation processes.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "license",
            "in": "query",
            "description": "The type license applied to the dataset or record.",
            "schema": {
              "type": "string",
              "enum": [
                "CC0_1_0",
                "CC_BY_4_0",
                "CC_BY_NC_4_0",
                "UNSPECIFIED",
                "UNSUPPORTED"
              ]
            }
          },
          {
            "name": "locality",
            "in": "query",
            "description": "The specific description of the place.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mediaType",
            "in": "query",
            "description": "The kind of multimedia associated with an occurrence as defined in our MediaType enum",
            "schema": {
              "$ref": "#/components/schemas/MediaType"
            }
          },
          {
            "name": "modified",
            "in": "query",
            "description": "The most recent date-time on which the resource was changed, according to the publisher",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "The month of the year, starting with 1 for January. Supports range queries.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "occurrenceId",
            "in": "query",
            "description": "A single globally unique identifier for the occurrence record as provided by the publisher.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "occurrenceStatus",
            "in": "query",
            "description": "Either 'ABSENT' or 'PRESENT'; the presence or absence of the occurrence.",
            "schema": {
              "type": "string",
              "enum": [
                "PRESENT",
                "ABSENT"
              ]
            }
          },
          {
            "name": "orderKey",
            "in": "query",
            "description": "Order classification key.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "organismId",
            "in": "query",
            "description": "An identifier for the Organism instance (as opposed to a particular digital record of the Organism). May be a globally unique identifier or an identifier specific to the data set.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organismQuantity",
            "in": "query",
            "description": "A number or enumeration value for the quantity of organisms.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organismQuantityType",
            "in": "query",
            "description": "The type of quantification system used for the quantity of organisms.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "otherCatalogNumbers",
            "in": "query",
            "description": "Previous or alternate fully qualified catalog numbers.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phylumKey",
            "in": "query",
            "description": "Phylum classification key.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "preparations",
            "in": "query",
            "description": "Preparation or preservation method for a specimen.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "programme",
            "in": "query",
            "description": "A group of activities, often associated with a specific funding stream, such as the GBIF BID programme.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "The identifier for a project, which is often assigned by a funded programme.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "protocol",
            "in": "query",
            "description": "Protocol or mechanism used to provide the occurrence record.",
            "schema": {
              "type": "string",
              "enum": [
                "EML",
                "FEED",
                "WFS",
                "WMS",
                "TCS_RDF",
                "TCS_XML",
                "DWC_ARCHIVE",
                "DIGIR",
                "DIGIR_MANIS",
                "TAPIR",
                "BIOCASE",
                "BIOCASE_XML_ARCHIVE",
                "OAI_PMH",
                "COLDP",
                "CAMTRAP_DP_v_0_4",
                "OTHER"
              ]
            }
          },
          {
            "name": "publishingCountry",
            "in": "query",
            "description": "The 2-letter country code (as per ISO-3166-1) of the owining organization's country.",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "AFGHANISTAN",
                "ALAND_ISLANDS",
                "ALBANIA",
                "ALGERIA",
                "AMERICAN_SAMOA",
                "ANDORRA",
                "ANGOLA",
                "ANGUILLA",
                "ANTARCTICA",
                "ANTIGUA_BARBUDA",
                "ARGENTINA",
                "ARMENIA",
                "ARUBA",
                "AUSTRALIA",
                "AUSTRIA",
                "AZERBAIJAN",
                "BAHAMAS",
                "BAHRAIN",
                "BANGLADESH",
                "BARBADOS",
                "BELARUS",
                "BELGIUM",
                "BELIZE",
                "BENIN",
                "BERMUDA",
                "BHUTAN",
                "BOLIVIA",
                "BONAIRE_SINT_EUSTATIUS_SABA",
                "BOSNIA_HERZEGOVINA",
                "BOTSWANA",
                "BOUVET_ISLAND",
                "BRAZIL",
                "BRITISH_INDIAN_OCEAN_TERRITORY",
                "BRUNEI_DARUSSALAM",
                "BULGARIA",
                "BURKINA_FASO",
                "BURUNDI",
                "CAMBODIA",
                "CAMEROON",
                "CANADA",
                "CAPE_VERDE",
                "CAYMAN_ISLANDS",
                "CENTRAL_AFRICAN_REPUBLIC",
                "CHAD",
                "CHILE",
                "CHINA",
                "CHRISTMAS_ISLAND",
                "COCOS_ISLANDS",
                "COLOMBIA",
                "COMOROS",
                "CONGO_DEMOCRATIC_REPUBLIC",
                "CONGO",
                "COOK_ISLANDS",
                "COSTA_RICA",
                "CÔTE_DIVOIRE",
                "CROATIA",
                "CUBA",
                "CURAÇAO",
                "CYPRUS",
                "CZECH_REPUBLIC",
                "DENMARK",
                "DJIBOUTI",
                "DOMINICA",
                "DOMINICAN_REPUBLIC",
                "ECUADOR",
                "EGYPT",
                "EL_SALVADOR",
                "EQUATORIAL_GUINEA",
                "ERITREA",
                "ESTONIA",
                "ETHIOPIA",
                "FALKLAND_ISLANDS",
                "FAROE_ISLANDS",
                "FIJI",
                "FINLAND",
                "FRANCE",
                "FRENCH_GUIANA",
                "FRENCH_POLYNESIA",
                "FRENCH_SOUTHERN_TERRITORIES",
                "GABON",
                "GAMBIA",
                "GEORGIA",
                "GERMANY",
                "GHANA",
                "GIBRALTAR",
                "GREECE",
                "GREENLAND",
                "GRENADA",
                "GUADELOUPE",
                "GUAM",
                "GUATEMALA",
                "GUERNSEY",
                "GUINEA",
                "GUINEA_BISSAU",
                "GUYANA",
                "HAITI",
                "HEARD_MCDONALD_ISLANDS",
                "VATICAN",
                "HONDURAS",
                "HONG_KONG",
                "HUNGARY",
                "ICELAND",
                "INDIA",
                "INDONESIA",
                "IRAN",
                "IRAQ",
                "IRELAND",
                "ISLE_OF_MAN",
                "ISRAEL",
                "ITALY",
                "JAMAICA",
                "JAPAN",
                "JERSEY",
                "JORDAN",
                "KAZAKHSTAN",
                "KENYA",
                "KIRIBATI",
                "KOREA_NORTH",
                "KOREA_SOUTH",
                "KUWAIT",
                "KYRGYZSTAN",
                "LAO",
                "LATVIA",
                "LEBANON",
                "LESOTHO",
                "LIBERIA",
                "LIBYA",
                "LIECHTENSTEIN",
                "LITHUANIA",
                "LUXEMBOURG",
                "MACAO",
                "MACEDONIA",
                "MADAGASCAR",
                "MALAWI",
                "MALAYSIA",
                "MALDIVES",
                "MALI",
                "MALTA",
                "MARSHALL_ISLANDS",
                "MARTINIQUE",
                "MAURITANIA",
                "MAURITIUS",
                "MAYOTTE",
                "MEXICO",
                "MICRONESIA",
                "MOLDOVA",
                "MONACO",
                "MONGOLIA",
                "MONTENEGRO",
                "MONTSERRAT",
                "MOROCCO",
                "MOZAMBIQUE",
                "MYANMAR",
                "NAMIBIA",
                "NAURU",
                "NEPAL",
                "NETHERLANDS",
                "NEW_CALEDONIA",
                "NEW_ZEALAND",
                "NICARAGUA",
                "NIGER",
                "NIGERIA",
                "NIUE",
                "NORFOLK_ISLAND",
                "NORTHERN_MARIANA_ISLANDS",
                "NORWAY",
                "OMAN",
                "PAKISTAN",
                "PALAU",
                "PALESTINIAN_TERRITORY",
                "PANAMA",
                "PAPUA_NEW_GUINEA",
                "PARAGUAY",
                "PERU",
                "PHILIPPINES",
                "PITCAIRN",
                "POLAND",
                "PORTUGAL",
                "PUERTO_RICO",
                "QATAR",
                "RÉUNION",
                "ROMANIA",
                "RUSSIAN_FEDERATION",
                "RWANDA",
                "SAINT_BARTHÉLEMY",
                "SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA",
                "SAINT_KITTS_NEVIS",
                "SAINT_LUCIA",
                "SAINT_MARTIN_FRENCH",
                "SAINT_PIERRE_MIQUELON",
                "SAINT_VINCENT_GRENADINES",
                "SAMOA",
                "SAN_MARINO",
                "SAO_TOME_PRINCIPE",
                "SAUDI_ARABIA",
                "SENEGAL",
                "SERBIA",
                "SEYCHELLES",
                "SIERRA_LEONE",
                "SINGAPORE",
                "SINT_MAARTEN",
                "SLOVAKIA",
                "SLOVENIA",
                "SOLOMON_ISLANDS",
                "SOMALIA",
                "SOUTH_AFRICA",
                "SOUTH_GEORGIA_SANDWICH_ISLANDS",
                "SOUTH_SUDAN",
                "SPAIN",
                "SRI_LANKA",
                "SUDAN",
                "SURINAME",
                "SVALBARD_JAN_MAYEN",
                "SWAZILAND",
                "SWEDEN",
                "SWITZERLAND",
                "SYRIA",
                "TAIWAN",
                "TAJIKISTAN",
                "TANZANIA",
                "THAILAND",
                "TIMOR_LESTE",
                "TOGO",
                "TOKELAU",
                "TONGA",
                "TRINIDAD_TOBAGO",
                "TUNISIA",
                "TURKEY",
                "TURKMENISTAN",
                "TURKS_CAICOS_ISLANDS",
                "TUVALU",
                "UGANDA",
                "UKRAINE",
                "UNITED_ARAB_EMIRATES",
                "UNITED_KINGDOM",
                "UNITED_STATES",
                "UNITED_STATES_OUTLYING_ISLANDS",
                "URUGUAY",
                "UZBEKISTAN",
                "VANUATU",
                "VENEZUELA",
                "VIETNAM",
                "VIRGIN_ISLANDS_BRITISH",
                "VIRGIN_ISLANDS",
                "WALLIS_FUTUNA",
                "WESTERN_SAHARA",
                "YEMEN",
                "ZAMBIA",
                "ZIMBABWE",
                "USER_DEFINED",
                "KOSOVO",
                "INTERNATIONAL_WATERS",
                "UNKNOWN"
              ]
            }
          },
          {
            "name": "publishingOrg",
            "in": "query",
            "description": "The publishing organization key (a UUID).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "publishingOrgKey",
            "in": "query",
            "description": "The publishing organization key (a uuid).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "recordedBy",
            "in": "query",
            "description": "The person who recorded the occurrence.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordedByID",
            "in": "query",
            "description": "Identifier (e.g. ORCID) for the person who recorded the occurrence.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordNumber",
            "in": "query",
            "description": "An identifier given to the record at the time it was recorded in the field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relativeOrganismQuantity",
            "in": "query",
            "description": "The relative measurement of the quantity of the organism (i.e. without absolute units).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repatriated",
            "in": "query",
            "description": "Searches for records whose publishing country is different to the country where the record was recorded in.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sampleSizeUnit",
            "in": "query",
            "description": "The unit of measurement of the size (time duration, length, area, or volume) of a sample in a sampling event.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sampleSizeValue",
            "in": "query",
            "description": "A numeric value for a measurement of the size (time duration, length, area, or volume) of a sample in a sampling event.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "samplingProtocol",
            "in": "query",
            "description": "The name of, reference to, or description of the method or protocol used during a sampling event",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scientificName",
            "in": "query",
            "description": "A scientific name from the [GBIF backbone](https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c). All included and synonym taxa are included in the search. Under the hood a call to the [species match service](https://www.gbif.org/developer/species#searching) is done first to retrieve a taxonKey. Only unique scientific names will return results, homonyms (many monomials) return nothing! Consider to use the taxonKey parameter instead and the species match service directly",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "speciesKey",
            "in": "query",
            "description": "Species classification key.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "stateProvince",
            "in": "query",
            "description": "The name of the next smaller administrative region than country (state, province, canton, department, region, etc.) in which the Location occurs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subgenusKey",
            "in": "query",
            "description": "Subgenus classification key.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "taxonKey",
            "in": "query",
            "description": "A taxon key from the GBIF backbone. All included and synonym taxa are included in the search, so a search for aves with taxonKey=212 (i.e. /occurrence/search?taxonKey=212) will match all birds, no matter which species.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "typeStatus",
            "in": "query",
            "description": "Nomenclatural type (type status, typified scientific name, publication) applied to the subject.",
            "schema": {
              "type": "string",
              "enum": [
                "TYPE",
                "TYPE_SPECIES",
                "TYPE_GENUS",
                "ALLOLECTOTYPE",
                "ALLONEOTYPE",
                "ALLOTYPE",
                "COTYPE",
                "EPITYPE",
                "EXEPITYPE",
                "EXHOLOTYPE",
                "EXISOTYPE",
                "EXLECTOTYPE",
                "EXNEOTYPE",
                "EXPARATYPE",
                "EXSYNTYPE",
                "EXTYPE",
                "HAPANTOTYPE",
                "HOLOTYPE",
                "HYPOTYPE",
                "ICONOTYPE",
                "ISOLECTOTYPE",
                "ISONEOTYPE",
                "ISOPARATYPE",
                "ISOSYNTYPE",
                "ISOTYPE",
                "LECTOTYPE",
                "NEOTYPE",
                "NOTATYPE",
                "ORIGINALMATERIAL",
                "PARALECTOTYPE",
                "PARANEOTYPE",
                "PARATYPE",
                "PLASTOHOLOTYPE",
                "PLASTOISOTYPE",
                "PLASTOLECTOTYPE",
                "PLASTONEOTYPE",
                "PLASTOPARATYPE",
                "PLASTOSYNTYPE",
                "PLASTOTYPE",
                "PLESIOTYPE",
                "SECONDARYTYPE",
                "SUPPLEMENTARYTYPE",
                "SYNTYPE",
                "TOPOTYPE"
              ]
            }
          },
          {
            "name": "verbatimScientificName",
            "in": "query",
            "description": "The scientific name provided to GBIF by the data publisher, before interpretation and processing by GBIF.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verbatimTaxonId",
            "in": "query",
            "description": "The taxon identifier provided to GBIF by the data publisher.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "waterBody",
            "in": "query",
            "description": "The name of the water body in which the Locations occurs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "The 4 digit year. A year of 98 will be interpreted as AD 98. Supports range queries.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "description": "Set `hl=true` to highlight terms matching the query when in fulltext search fields. The highlight will be an emphasis tag of class `gbifH1` e.g. [`/search?q=plant&hl=true`](https://api.gbif.org/v1/literature/search?q=plant&hl=true). Fulltext search fields include: title, keyword, country, publishing country, publishing organization title, hosting organization title, and description. One additional full text field is searched which includes information from metadata documents, but the text of this field is not returned in the response.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Simple full text search parameter. The value for this parameter can be a simple word or a phrase. Wildcards are not supported",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "facet",
            "in": "query",
            "description": "A facet name used to retrieve the most frequent values for a field. Facets are allowed for all the parameters except for: eventDate, geometry, lastInterpreted, locality, organismId, stateProvince, waterBody. This parameter may by repeated to request multiple facets, as in this example /occurrence/search?facet=datasetKey&facet=basisOfRecord&limit=0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facetMincount",
            "in": "query",
            "description": "Used in combination with the facet parameter. Set facetMincount={#} to exclude facets with a count less than {#}, e.g. /search?facet=type&limit=0&facetMincount=10000 only shows the type value 'OCCURRENCE' because 'CHECKLIST' and 'METADATA' have counts less than 10000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "facetMultiselect",
            "in": "query",
            "description": "Used in combination with the facet parameter. Set facetMultiselect=true to still return counts for values that are not currently filtered, e.g. /search?facet=type&limit=0&type=CHECKLIST&facetMultiselect=true still shows type values 'OCCURRENCE' and 'METADATA' even though type is being filtered by type=CHECKLIST",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "facetLimit",
            "in": "query",
            "description": "Facet parameters allow paging requests using the parameters facetOffset and facetLimit",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "facetOffset",
            "in": "query",
            "description": "Facet parameters allow paging requests using the parameters facetOffset and facetLimit",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid query, e.g. invalid vocabulary values"
          },
          "200": {
            "description": "Occurrence search is valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Searching occurrences"
        ],
        "operationId": "postSearch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OccurrenceSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponseOccurrenceOccurrenceSearchParameter"
                }
              },
              "application/x-javascript": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponseOccurrenceOccurrenceSearchParameter"
                }
              }
            }
          }
        }
      }
    },
    "/occurrence/download/request": {
      "post": {
        "tags": [
          "Occurrence downloads"
        ],
        "summary": "Requests the creation of a download file.",
        "description": "Starts the process of creating a download file. See the predicates section to consult the requests accepted by this service and the limits section to refer for information of how this service is limited per user.",
        "operationId": "requestDownload",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PredicateDownloadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/occurrence/{gbifId}/verbatim": {
      "get": {
        "tags": [
          "Occurrences"
        ],
        "summary": "Verbatim occurrence by id",
        "description": "Retrieve a single, verbatim occurrence without any interpretation",
        "operationId": "getVerbatimOccurrenceById",
        "parameters": [
          {
            "name": "gbifId",
            "in": "path",
            "description": "Integer gbifId for the occurrence.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1258202889
          }
        ],
        "responses": {
          "200": {
            "description": "Occurrence found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerbatimOccurrence"
                }
              }
            }
          },
          "400": {
            "description": "Invalid identifier supplied"
          },
          "404": {
            "description": "Occurrence not found"
          }
        }
      }
    },
    "/occurrence/{gbifId}/fragment": {
      "get": {
        "tags": [
          "Occurrences"
        ],
        "summary": "Occurrence fragment by id",
        "description": "Retrieve a single occurrence fragment in its raw form (JSON or XML)",
        "operationId": "getOccurrenceFragmentById",
        "parameters": [
          {
            "name": "gbifId",
            "in": "path",
            "description": "Integer gbifId for the occurrence.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid identifier supplied"
          },
          "200": {
            "description": "Occurrence fragment in JSON or XML format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Occurrence"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Occurrence"
                }
              }
            }
          },
          "404": {
            "description": "Occurrence fragment not found"
          }
        }
      }
    },
    "/occurrence/{gbifId}/experimental/related": {
      "get": {
        "tags": [
          "Occurrences"
        ],
        "summary": "Related occurrences by gbifId",
        "description": "**Experimental** Retrieve a list of related occurrences",
        "operationId": "experimentalGetRelatedOccurrences",
        "parameters": [
          {
            "name": "gbifId",
            "in": "path",
            "description": "Integer gbifId for the occurrence.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1056006536
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid identifier supplied"
          },
          "404": {
            "description": "Occurrence not found"
          },
          "200": {
            "description": "Occurrence found, clusters listed if present"
          }
        }
      }
    },
    "/occurrence/{gbifId}": {
      "get": {
        "tags": [
          "Occurrences"
        ],
        "operationId": "get",
        "parameters": [
          {
            "name": "gbifId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Occurrence"
                }
              },
              "application/x-javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Occurrence"
                }
              }
            }
          }
        }
      }
    },
    "/occurrence/{datasetKey}/{occurrenceId}/verbatim": {
      "get": {
        "tags": [
          "Occurrences"
        ],
        "summary": "Verbatim occurrence by dataset key and occurrence id",
        "description": "Retrieve a single, verbatim occurrence without any interpretation by its dataset key and occurrenceId",
        "operationId": "getVerbatimOccurrenceByDatasetKeyAndOccurrenceId",
        "parameters": [
          {
            "name": "datasetKey",
            "in": "path",
            "description": "UUID key for the dataset.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "0001480b-76ca-4f30-86bc-f4292481554b"
          },
          {
            "name": "occurrenceId",
            "in": "path",
            "description": "Occurrence ID from the dataset.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "651D49B2-FF77-7F3F-E053-2614A8C050DE"
          }
        ],
        "responses": {
          "200": {
            "description": "Occurrence found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Occurrence"
                }
              }
            }
          },
          "400": {
            "description": "Invalid identifier supplied"
          },
          "404": {
            "description": "Occurrence not found"
          }
        }
      }
    },
    "/occurrence/{datasetKey}/{occurrenceId}/fragment": {
      "get": {
        "tags": [
          "Occurrences"
        ],
        "summary": "Occurrence fragment by dataset key and occurrence id",
        "description": "Retrieve a single occurrence fragment in its raw form (JSON or XML) by its dataset key and occurrenceId in that dataset",
        "operationId": "getOccurrenceFragmentByDatasetKeyAndOccurrenceId",
        "parameters": [
          {
            "name": "datasetKey",
            "in": "path",
            "description": "UUID key for the dataset.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "0001480b-76ca-4f30-86bc-f4292481554b"
          },
          {
            "name": "occurrenceId",
            "in": "path",
            "description": "Occurrence ID from the dataset.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "651D49B2-FF77-7F3F-E053-2614A8C050DE"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid identifier(s) supplied"
          },
          "200": {
            "description": "Occurrence fragment found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Occurrence"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Occurrence"
                }
              }
            }
          },
          "404": {
            "description": "Dataset or occurrenceId not found"
          }
        }
      }
    },
    "/occurrence/{datasetKey}/{occurrenceId}": {
      "get": {
        "tags": [
          "Occurrences"
        ],
        "summary": "Occurrence by dataset key and occurrence id",
        "description": "Retrieve a single, interpreted occurrence by its dataset key and occurrenceId in that dataset",
        "operationId": "getOccurrenceByDatasetKeyAndOccurrenceId",
        "parameters": [
          {
            "name": "datasetKey",
            "in": "path",
            "description": "UUID key for the dataset.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "0001480b-76ca-4f30-86bc-f4292481554b"
          },
          {
            "name": "occurrenceId",
            "in": "path",
            "description": "Occurrence ID from the dataset.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "651D49B2-FF77-7F3F-E053-2614A8C050DE"
          }
        ],
        "responses": {
          "200": {
            "description": "Occurrence found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Occurrence"
                }
              }
            }
          },
          "400": {
            "description": "Invalid identifier supplied"
          },
          "404": {
            "description": "Occurrence not found"
          }
        }
      }
    },
    "/occurrence/term": {
      "get": {
        "tags": [
          "Occurrences"
        ],
        "summary": "Occurrence terms",
        "description": "Lists the definitions of the terms (JSON properties, field names) of occurrences.",
        "operationId": "occurrenceTerms",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TermWrapper"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/occurrence/search/waterBody": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest water bodies",
        "description": "Search that returns matching water bodies. Results are ordered by relevance.",
        "operationId": "suggestWaterBodies",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/stateProvince": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest states/provinces",
        "description": "Search that returns matching states or provinces. Results are ordered by relevance.",
        "operationId": "suggestStateProvinces",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/samplingProtocol": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest sampling protocols",
        "description": "Search that returns matching sampling protocols. Results are ordered by relevance.",
        "operationId": "suggestSamplingProtocols",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/recordedBy": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest recorded by values",
        "description": "Search that returns matching recorded by values. Results are ordered by relevance.",
        "operationId": "suggestRecordedBy",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/recordNumber": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest record numbers",
        "description": "Search that returns matching record numbers. Results are ordered by relevance.",
        "operationId": "suggestRecordNumbers",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/parentEventId": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest parent event ids",
        "description": "Search that returns matching parent event ids. Results are ordered by relevance.",
        "operationId": "suggestParentEventIds",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/otherCatalogNumbers": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest other catalogue numbers",
        "description": "Search that returns matching other catalogue numbers. Results are ordered by relevance.",
        "operationId": "suggestOtherCatalogNumbers",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/organismId": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest organism ids",
        "description": "Search that returns matching organism ids. Results are ordered by relevance.",
        "operationId": "suggestOrganismIds",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/occurrenceId": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest occurrence ids",
        "description": "Search that returns matching occurrence ids. Results are ordered by relevance.",
        "operationId": "suggestOccurrenceIds",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/locality": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest locality strings",
        "description": "Search that returns matching localities. Results are ordered by relevance.",
        "operationId": "suggestLocalities",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/institutionCode": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest institution codes",
        "description": "Search that returns matching institution codes. Results are ordered by relevance.",
        "operationId": "suggestInstitutionCodes",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/identifiedBy": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest identified by values",
        "description": "Search that returns matching identified by values. Results are ordered by relevance.",
        "operationId": "suggestIdentifiedBy",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/experimental/term/{term}": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest values for supported terms",
        "description": "Search that returns values for supported terms. Results are ordered by relevance.",
        "operationId": "suggestTerm",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "A supported term",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PRESERVED_SPECIMEN",
                "FOSSIL_SPECIMEN",
                "LIVING_SPECIMEN",
                "OBSERVATION",
                "HUMAN_OBSERVATION",
                "MACHINE_OBSERVATION",
                "MATERIAL_SAMPLE",
                "LITERATURE",
                "MATERIAL_CITATION",
                "OCCURRENCE",
                "UNKNOWN"
              ]
            },
            "example": "Continent"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/eventId": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest event ids",
        "description": "Search that returns matching event ids. Results are ordered by relevance.",
        "operationId": "suggestEventIds",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/datasetName": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest dataset names",
        "description": "Search that returns matching dataset names. Results are ordered by relevance.",
        "operationId": "suggestDatasetNames",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/collectionCode": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest collection codes",
        "description": "Search that returns matching collection codes. Results are ordered by relevance.",
        "operationId": "suggestCollectionCodes",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/search/catalogNumber": {
      "get": {
        "tags": [
          "Searching occurrences"
        ],
        "summary": "Suggest catalogue numbers",
        "description": "Search that returns matching catalogue numbers. Results are ordered by relevance.",
        "operationId": "suggestCatalogNumbers",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Simple search suggestion parameter. Wildcards are not supported.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of suggestions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/occurrence/download/request/{key}": {
      "get": {
        "tags": [
          "Occurrence downloads"
        ],
        "summary": "Retrieve the resulting download file",
        "description": "Retrieves the download file if it is available.",
        "operationId": "retrieveDownload",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "An identifier for a download.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "NNNNNNN-NNNNNNNNNNNNNNN"
            },
            "example": "0001005-130906152512535"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Occurrence downloads"
        ],
        "summary": "Cancel a running download",
        "description": "Cancel a running download",
        "operationId": "cancelDownload",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "An identifier for a download.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "NNNNNNN-NNNNNNNNNNNNNNN"
            },
            "example": "0001005-130906152512535"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/occurrence/download/request/predicate": {
      "get": {
        "tags": [
          "Occurrence downloads"
        ],
        "operationId": "downloadPredicate",
        "parameters": [
          {
            "name": "notification_address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extensions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadRequest"
                }
              },
              "application/x-javascript": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/occurrence/download/describe/speciesList": {
      "get": {
        "tags": [
          "Occurrence download formats"
        ],
        "summary": "Describes the fields present in a Species List format download",
        "operationId": "describeSpeciesListDownload",
        "responses": {
          "200": {
            "description": "Field description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          }
        }
      }
    },
    "/occurrence/download/describe/simpleWithVerbatimAvro": {
      "get": {
        "tags": [
          "Occurrence download formats"
        ],
        "summary": "Describes the fields present in a Simple With Verbatim Avro format download",
        "operationId": "describeSimpleWithVerbatimAvroDownload",
        "responses": {
          "200": {
            "description": "Field description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          }
        }
      }
    },
    "/occurrence/download/describe/simpleParquet": {
      "get": {
        "tags": [
          "Occurrence download formats"
        ],
        "summary": "Describes the fields present in a Simple Parquet format download",
        "operationId": "describeSimpleParquetDownload",
        "responses": {
          "200": {
            "description": "Field description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          }
        }
      }
    },
    "/occurrence/download/describe/simpleCsv": {
      "get": {
        "tags": [
          "Occurrence download formats"
        ],
        "summary": "Describes the fields present in a Simple CSV format download",
        "operationId": "describeSimpleCsvDownload",
        "responses": {
          "200": {
            "description": "Field description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          }
        }
      }
    },
    "/occurrence/download/describe/simpleAvro": {
      "get": {
        "tags": [
          "Occurrence download formats"
        ],
        "summary": "Describes the fields present in a Simple Avro format download",
        "operationId": "describeSimpleAvroDownload",
        "responses": {
          "200": {
            "description": "Field description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          }
        }
      }
    },
    "/occurrence/download/describe/dwca": {
      "get": {
        "tags": [
          "Occurrence download formats"
        ],
        "summary": "Describes the fields present in a Darwin Core Archive format download",
        "operationId": "describeDwcaDownload",
        "responses": {
          "200": {
            "description": "Field description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DwcDownload"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ConjunctionPredicate": {
        "required": [
          "predicates"
        ],
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Predicate"
          },
          {
            "type": "object",
            "properties": {
              "predicates": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Predicate"
                }
              }
            }
          }
        ]
      },
      "DisjunctionPredicate": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Predicate"
          }
        ]
      },
      "Distance": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "format": "double"
          },
          "unit": {
            "type": "string",
            "enum": [
              "in",
              "yd",
              "ft",
              "km",
              "NM",
              "mm",
              "cm",
              "mi",
              "m"
            ]
          }
        }
      },
      "EqualsPredicate": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Predicate"
          },
          {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "enum": [
                  "DATASET_KEY",
                  "YEAR",
                  "MONTH",
                  "EVENT_DATE",
                  "EVENT_ID",
                  "PARENT_EVENT_ID",
                  "SAMPLING_PROTOCOL",
                  "LAST_INTERPRETED",
                  "MODIFIED",
                  "DECIMAL_LATITUDE",
                  "DECIMAL_LONGITUDE",
                  "COORDINATE_UNCERTAINTY_IN_METERS",
                  "COUNTRY",
                  "CONTINENT",
                  "PUBLISHING_COUNTRY",
                  "ELEVATION",
                  "DEPTH",
                  "INSTITUTION_CODE",
                  "COLLECTION_CODE",
                  "CATALOG_NUMBER",
                  "RECORDED_BY",
                  "IDENTIFIED_BY",
                  "RECORD_NUMBER",
                  "BASIS_OF_RECORD",
                  "TAXON_KEY",
                  "ACCEPTED_TAXON_KEY",
                  "KINGDOM_KEY",
                  "PHYLUM_KEY",
                  "CLASS_KEY",
                  "ORDER_KEY",
                  "FAMILY_KEY",
                  "GENUS_KEY",
                  "SUBGENUS_KEY",
                  "SPECIES_KEY",
                  "SCIENTIFIC_NAME",
                  "VERBATIM_SCIENTIFIC_NAME",
                  "TAXON_ID",
                  "TAXONOMIC_STATUS",
                  "HAS_COORDINATE",
                  "GEOMETRY",
                  "GEO_DISTANCE",
                  "DISTANCE_FROM_CENTROID_IN_METERS",
                  "HAS_GEOSPATIAL_ISSUE",
                  "ISSUE",
                  "TYPE_STATUS",
                  "MEDIA_TYPE",
                  "OCCURRENCE_ID",
                  "ESTABLISHMENT_MEANS",
                  "DEGREE_OF_ESTABLISHMENT",
                  "PATHWAY",
                  "REPATRIATED",
                  "ORGANISM_ID",
                  "STATE_PROVINCE",
                  "WATER_BODY",
                  "LOCALITY",
                  "PROTOCOL",
                  "LICENSE",
                  "PUBLISHING_ORG",
                  "NETWORK_KEY",
                  "INSTALLATION_KEY",
                  "HOSTING_ORGANIZATION_KEY",
                  "CRAWL_ID",
                  "PROJECT_ID",
                  "PROGRAMME",
                  "ORGANISM_QUANTITY",
                  "ORGANISM_QUANTITY_TYPE",
                  "SAMPLE_SIZE_UNIT",
                  "SAMPLE_SIZE_VALUE",
                  "RELATIVE_ORGANISM_QUANTITY",
                  "COLLECTION_KEY",
                  "INSTITUTION_KEY",
                  "RECORDED_BY_ID",
                  "IDENTIFIED_BY_ID",
                  "OCCURRENCE_STATUS",
                  "GADM_GID",
                  "GADM_LEVEL_0_GID",
                  "GADM_LEVEL_1_GID",
                  "GADM_LEVEL_2_GID",
                  "GADM_LEVEL_3_GID",
                  "LIFE_STAGE",
                  "IS_IN_CLUSTER",
                  "DWCA_EXTENSION",
                  "IUCN_RED_LIST_CATEGORY",
                  "DATASET_ID",
                  "DATASET_NAME",
                  "OTHER_CATALOG_NUMBERS",
                  "PREPARATIONS"
                ]
              },
              "value": {
                "type": "string"
              },
              "matchCase": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "FullTextSearchPredicate": {
        "required": [
          "key",
          "q"
        ],
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Predicate"
          },
          {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "writeOnly": true
              },
              "q": {
                "type": "string"
              }
            }
          }
        ]
      },
      "GeoDistance": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "distance": {
            "$ref": "#/components/schemas/Distance"
          }
        }
      },
      "GeoDistancePredicate": {
        "required": [
          "distance",
          "geoDistance",
          "latitude",
          "longitude"
        ],
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Predicate"
          },
          {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "string"
              },
              "longitude": {
                "type": "string"
              },
              "distance": {
                "type": "string"
              },
              "geoDistance": {
                "$ref": "#/components/schemas/GeoDistance"
              }
            }
          }
        ]
      },
      "GreaterThanOrEqualsPredicate": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Predicate"
          },
          {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "enum": [
                  "DATASET_KEY",
                  "YEAR",
                  "MONTH",
                  "EVENT_DATE",
                  "EVENT_ID",
                  "PARENT_EVENT_ID",
                  "SAMPLING_PROTOCOL",
                  "LAST_INTERPRETED",
                  "MODIFIED",
                  "DECIMAL_LATITUDE",
                  "DECIMAL_LONGITUDE",
                  "COORDINATE_UNCERTAINTY_IN_METERS",
                  "COUNTRY",
                  "CONTINENT",
                  "PUBLISHING_COUNTRY",
                  "ELEVATION",
                  "DEPTH",
                  "INSTITUTION_CODE",
                  "COLLECTION_CODE",
                  "CATALOG_NUMBER",
                  "RECORDED_BY",
                  "IDENTIFIED_BY",
                  "RECORD_NUMBER",
                  "BASIS_OF_RECORD",
                  "TAXON_KEY",
                  "ACCEPTED_TAXON_KEY",
                  "KINGDOM_KEY",
                  "PHYLUM_KEY",
                  "CLASS_KEY",
                  "ORDER_KEY",
                  "FAMILY_KEY",
                  "GENUS_KEY",
                  "SUBGENUS_KEY",
                  "SPECIES_KEY",
                  "SCIENTIFIC_NAME",
                  "VERBATIM_SCIENTIFIC_NAME",
                  "TAXON_ID",
                  "TAXONOMIC_STATUS",
                  "HAS_COORDINATE",
                  "GEOMETRY",
                  "GEO_DISTANCE",
                  "DISTANCE_FROM_CENTROID_IN_METERS",
                  "HAS_GEOSPATIAL_ISSUE",
                  "ISSUE",
                  "TYPE_STATUS",
                  "MEDIA_TYPE",
                  "OCCURRENCE_ID",
                  "ESTABLISHMENT_MEANS",
                  "DEGREE_OF_ESTABLISHMENT",
                  "PATHWAY",
                  "REPATRIATED",
                  "ORGANISM_ID",
                  "STATE_PROVINCE",
                  "WATER_BODY",
                  "LOCALITY",
                  "PROTOCOL",
                  "LICENSE",
                  "PUBLISHING_ORG",
                  "NETWORK_KEY",
                  "INSTALLATION_KEY",
                  "HOSTING_ORGANIZATION_KEY",
                  "CRAWL_ID",
                  "PROJECT_ID",
                  "PROGRAMME",
                  "ORGANISM_QUANTITY",
                  "ORGANISM_QUANTITY_TYPE",
                  "SAMPLE_SIZE_UNIT",
                  "SAMPLE_SIZE_VALUE",
                  "RELATIVE_ORGANISM_QUANTITY",
                  "COLLECTION_KEY",
                  "INSTITUTION_KEY",
                  "RECORDED_BY_ID",
                  "IDENTIFIED_BY_ID",
                  "OCCURRENCE_STATUS",
                  "GADM_GID",
                  "GADM_LEVEL_0_GID",
                  "GADM_LEVEL_1_GID",
                  "GADM_LEVEL_2_GID",
                  "GADM_LEVEL_3_GID",
                  "LIFE_STAGE",
                  "IS_IN_CLUSTER",
                  "DWCA_EXTENSION",
                  "IUCN_RED_LIST_CATEGORY",
                  "DATASET_ID",
                  "DATASET_NAME",
                  "OTHER_CATALOG_NUMBERS",
                  "PREPARATIONS"
                ]
              },
              "value": {
                "type": "string"
              },
              "matchCase": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "GreaterThanPredicate": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Predicate"
          },
          {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "enum": [
                  "DATASET_KEY",
                  "YEAR",
                  "MONTH",
                  "EVENT_DATE",
                  "EVENT_ID",
                  "PARENT_EVENT_ID",
                  "SAMPLING_PROTOCOL",
                  "LAST_INTERPRETED",
                  "MODIFIED",
                  "DECIMAL_LATITUDE",
                  "DECIMAL_LONGITUDE",
                  "COORDINATE_UNCERTAINTY_IN_METERS",
                  "COUNTRY",
                  "CONTINENT",
                  "PUBLISHING_COUNTRY",
                  "ELEVATION",
                  "DEPTH",
                  "INSTITUTION_CODE",
                  "COLLECTION_CODE",
                  "CATALOG_NUMBER",
                  "RECORDED_BY",
                  "IDENTIFIED_BY",
                  "RECORD_NUMBER",
                  "BASIS_OF_RECORD",
                  "TAXON_KEY",
                  "ACCEPTED_TAXON_KEY",
                  "KINGDOM_KEY",
                  "PHYLUM_KEY",
                  "CLASS_KEY",
                  "ORDER_KEY",
                  "FAMILY_KEY",
                  "GENUS_KEY",
                  "SUBGENUS_KEY",
                  "SPECIES_KEY",
                  "SCIENTIFIC_NAME",
                  "VERBATIM_SCIENTIFIC_NAME",
                  "TAXON_ID",
                  "TAXONOMIC_STATUS",
                  "HAS_COORDINATE",
                  "GEOMETRY",
                  "GEO_DISTANCE",
[...]
