{"openapi":"3.0.1","info":{"title":"Occurrence API","description":"This API works against the GBIF Occurrence Store, which handles occurrence records and makes them available through the web service and download files.\nInternally we use a [Java web service client](https://github.com/gbif/occurrence/tree/master/occurrence-ws-client) for the consumption of these HTTP-based, RESTful web services.\n","termsOfService":"https://www.gbif.org/terms","version":"v1"},"servers":[{"url":"https://api.gbif.org/v1/","description":"Production","variables":{}},{"url":"https://api.gbif-uat.org/v1/","description":"User testing","variables":{}}],"tags":[{"name":"Occurrences","description":"This API provides services related to the retrieval of single occurrence records."},{"name":"Searching","description":"This API provides services for searching occurrence records that have been indexed by GBIF.\n\nIn order to retrieve all results for a given search filter you need to issue individual requests for each page, which is limited to a maximum size of 300 records per page. Note that for technical reasons we also have a hard limit for any query of 100,000 records. You will get an error if the offset + limit exceeds 100,000. To retrieve all records beyond 100,000 you should use our asynchronous #TODO LINK# download service instead."}],"paths":{"/occurrence/search/predicate":{"get":{"tags":["Searching"],"operationId":"downloadPredicate","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RedirectView"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/RedirectView"}}}}},"deprecated":true},"post":{"tags":["Searching"],"operationId":"search","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OccurrencePredicateSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponseOccurrenceOccurrenceSearchParameter"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/SearchResponseOccurrenceOccurrenceSearchParameter"}}}}}}},"/occurrence/search":{"get":{"tags":["Searching"],"summary":"Occurrence search","description":"Full search across all occurrences. Results are ordered by relevance.","operationId":"searchOccurrence","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/OccurrenceSearchRequest"}},{"name":"citationType","in":"query","description":"The manner in which GBIF is cited in a paper","explode":true,"schema":{"type":"string"}},{"name":"countriesOfCoverage","in":"query","description":"Country or area of institution with which author is affiliated, e.g. `DK` (recommended) or `Denmark`. Country codes are listed in our [Country enum](https://api.gbif.org/v1/enumeration/country).","explode":true,"schema":{"type":"string","enum":["AFGHANISTAN","ALAND_ISLANDS","ALBANIA","ALGERIA","AMERICAN_SAMOA","ANDORRA","ANGOLA","ANGUILLA","ANTARCTICA","ANTIGUA_BARBUDA","ARGENTINA","ARMENIA","ARUBA","AUSTRALIA","AUSTRIA","AZERBAIJAN","BAHAMAS","BAHRAIN","BANGLADESH","BARBADOS","BELARUS","BELGIUM","BELIZE","BENIN","BERMUDA","BHUTAN","BOLIVIA","BONAIRE_SINT_EUSTATIUS_SABA","BOSNIA_HERZEGOVINA","BOTSWANA","BOUVET_ISLAND","BRAZIL","BRITISH_INDIAN_OCEAN_TERRITORY","BRUNEI_DARUSSALAM","BULGARIA","BURKINA_FASO","BURUNDI","CAMBODIA","CAMEROON","CANADA","CAPE_VERDE","CAYMAN_ISLANDS","CENTRAL_AFRICAN_REPUBLIC","CHAD","CHILE","CHINA","CHRISTMAS_ISLAND","COCOS_ISLANDS","COLOMBIA","COMOROS","CONGO_DEMOCRATIC_REPUBLIC","CONGO","COOK_ISLANDS","COSTA_RICA","CÔTE_DIVOIRE","CROATIA","CUBA","CURAÇAO","CYPRUS","CZECH_REPUBLIC","DENMARK","DJIBOUTI","DOMINICA","DOMINICAN_REPUBLIC","ECUADOR","EGYPT","EL_SALVADOR","EQUATORIAL_GUINEA","ERITREA","ESTONIA","ETHIOPIA","FALKLAND_ISLANDS","FAROE_ISLANDS","FIJI","FINLAND","FRANCE","FRENCH_GUIANA","FRENCH_POLYNESIA","FRENCH_SOUTHERN_TERRITORIES","GABON","GAMBIA","GEORGIA","GERMANY","GHANA","GIBRALTAR","GREECE","GREENLAND","GRENADA","GUADELOUPE","GUAM","GUATEMALA","GUERNSEY","GUINEA","GUINEA_BISSAU","GUYANA","HAITI","HEARD_MCDONALD_ISLANDS","VATICAN","HONDURAS","HONG_KONG","HUNGARY","ICELAND","INDIA","INDONESIA","IRAN","IRAQ","IRELAND","ISLE_OF_MAN","ISRAEL","ITALY","JAMAICA","JAPAN","JERSEY","JORDAN","KAZAKHSTAN","KENYA","KIRIBATI","KOREA_NORTH","KOREA_SOUTH","KUWAIT","KYRGYZSTAN","LAO","LATVIA","LEBANON","LESOTHO","LIBERIA","LIBYA","LIECHTENSTEIN","LITHUANIA","LUXEMBOURG","MACAO","MACEDONIA","MADAGASCAR","MALAWI","MALAYSIA","MALDIVES","MALI","MALTA","MARSHALL_ISLANDS","MARTINIQUE","MAURITANIA","MAURITIUS","MAYOTTE","MEXICO","MICRONESIA","MOLDOVA","MONACO","MONGOLIA","MONTENEGRO","MONTSERRAT","MOROCCO","MOZAMBIQUE","MYANMAR","NAMIBIA","NAURU","NEPAL","NETHERLANDS","NEW_CALEDONIA","NEW_ZEALAND","NICARAGUA","NIGER","NIGERIA","NIUE","NORFOLK_ISLAND","NORTHERN_MARIANA_ISLANDS","NORWAY","OMAN","PAKISTAN","PALAU","PALESTINIAN_TERRITORY","PANAMA","PAPUA_NEW_GUINEA","PARAGUAY","PERU","PHILIPPINES","PITCAIRN","POLAND","PORTUGAL","PUERTO_RICO","QATAR","RÉUNION","ROMANIA","RUSSIAN_FEDERATION","RWANDA","SAINT_BARTHÉLEMY","SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA","SAINT_KITTS_NEVIS","SAINT_LUCIA","SAINT_MARTIN_FRENCH","SAINT_PIERRE_MIQUELON","SAINT_VINCENT_GRENADINES","SAMOA","SAN_MARINO","SAO_TOME_PRINCIPE","SAUDI_ARABIA","SENEGAL","SERBIA","SEYCHELLES","SIERRA_LEONE","SINGAPORE","SINT_MAARTEN","SLOVAKIA","SLOVENIA","SOLOMON_ISLANDS","SOMALIA","SOUTH_AFRICA","SOUTH_GEORGIA_SANDWICH_ISLANDS","SOUTH_SUDAN","SPAIN","SRI_LANKA","SUDAN","SURINAME","SVALBARD_JAN_MAYEN","SWAZILAND","SWEDEN","SWITZERLAND","SYRIA","TAIWAN","TAJIKISTAN","TANZANIA","THAILAND","TIMOR_LESTE","TOGO","TOKELAU","TONGA","TRINIDAD_TOBAGO","TUNISIA","TURKEY","TURKMENISTAN","TURKS_CAICOS_ISLANDS","TUVALU","UGANDA","UKRAINE","UNITED_ARAB_EMIRATES","UNITED_KINGDOM","UNITED_STATES","UNITED_STATES_OUTLYING_ISLANDS","URUGUAY","UZBEKISTAN","VANUATU","VENEZUELA","VIETNAM","VIRGIN_ISLANDS_BRITISH","VIRGIN_ISLANDS","WALLIS_FUTUNA","WESTERN_SAHARA","YEMEN","ZAMBIA","ZIMBABWE","USER_DEFINED","KOSOVO","INTERNATIONAL_WATERS","UNKNOWN"]}},{"name":"gbifDatasetKey","in":"query","description":"GBIF dataset referenced in publication","explode":true,"schema":{"type":"string","format":"uuid"}},{"name":"facet","in":"query","description":"A facet name used to retrieve the most frequent values for a field. This parameter may by repeated to request multiple facets","schema":{"type":"string"}},{"name":"facetLimit","in":"query","description":"Facet parameters allow paging requests using the parameters facetOffset and facetLimit","schema":{"type":"integer","format":"int32"}},{"name":"facetOffset","in":"query","description":"Facet parameters allow paging requests using the parameters facetOffset and facetLimit","schema":{"type":"integer","format":"int32"}},{"name":"facetMincount","in":"query","description":"Used in combination with the facet parameter. Set `facetMincount=X` to exclude facets with a count less than `X`, e.g. [`/search?facet=type&limit=0&facetMincount=10000`](https://api.gbif.org/v1/literature/search?facet=type&limit=0&facetMincount=10000) only shows the type value `OCCURRENCE` because `CHECKLIST` and `METADATA` have counts less than 10000.","schema":{"type":"integer","format":"int32"}},{"name":"facetMultiselect","in":"query","description":"Used in combination with the facet parameter. Set `facetMultiselect=true` to still return counts for values that are not currently filtered, e.g. [`/search?facet=type&limit=0&type=CHECKLIST&facetMultiselect=true`](https://api.gbif.org/v1/literature/search?facet=type&limit=0&type=CHECKLIST&facetMultiselect=true) still shows type values `OCCURRENCE` and `METADATA` even though type is being filtered by `type=CHECKLIST`","schema":{"type":"boolean"}},{"name":"hl","in":"query","description":"Set `hl=true` to highlight terms matching the query when in fulltext search fields. The highlight will be an emphasis tag of class `gbifH1` e.g. [`/search?q=plant&hl=true`](https://api.gbif.org/v1/literature/search?q=plant&hl=true). Fulltext search fields include: title, keyword, country, publishing country, publishing organization title, hosting organization title, and description. One additional full text field is searched which includes information from metadata documents, but the text of this field is not returned in the response.","schema":{"type":"boolean"}},{"name":"q","in":"query","description":"Simple full text search parameter. The value for this parameter can be a simple word or a phrase. Wildcards are not supported","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. ","schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Invalid identifier supplied"},"200":{"description":"Occurrence search is valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"404":{"description":"Occurrence not found"}}},"post":{"tags":["Searching"],"operationId":"postSearch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OccurrenceSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponseOccurrenceOccurrenceSearchParameter"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/SearchResponseOccurrenceOccurrenceSearchParameter"}}}}}}},"/occurrence/download/request":{"get":{"tags":["occurrence-download-resource"],"operationId":"download_1","parameters":[{"name":"notification_address","in":"query","required":false,"schema":{"type":"string"}},{"name":"format","in":"query","required":true,"schema":{"type":"string"}},{"name":"extensions","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}}}}}},"post":{"tags":["occurrence-download-resource"],"operationId":"startDownload","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PredicateDownloadRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}}}}}}},"/occurrence/{key}/verbatim":{"get":{"tags":["Occurrences"],"summary":"Verbatim occurrence by id","description":"Retrieve a single, verbatim occurrence without any interpretation","operationId":"getVerbatimOccurrenceById","parameters":[{"name":"key","in":"path","description":"Integer key for the occurrence","required":true,"schema":{"type":"integer","format":"int64"},"example":1258202889}],"responses":{"400":{"description":"Invalid identifier supplied"},"200":{"description":"Occurrence found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerbatimOccurrence"}}}},"404":{"description":"Occurrence not found"}}}},"/occurrence/{key}/fragment":{"get":{"tags":["Occurrences"],"summary":"Occurrence fragment by id","description":"Retrieve a single occurrence fragment in its raw form (JSON or XML)","operationId":"getOccurrenceFragmentById","parameters":[{"name":"key","in":"path","description":"Integer key for the occurrence","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Occurrence fragment in JSON or XML format"},"404":{"description":"Occurrence fragment not found"},"400":{"description":"Invalid identifier supplied"}}}},"/occurrence/{key}/experimental/related":{"get":{"tags":["Occurrences"],"summary":"Related occurrences by key","description":"**Experimental** Retrieve a list of related occurrences","operationId":"experimentalGetRelatedOccurrences","parameters":[{"name":"key","in":"path","description":"Integer key for the occurrence","required":true,"schema":{"type":"integer","format":"int64"},"example":1056006536}],"responses":{"400":{"description":"Invalid identifier supplied"},"200":{"description":"Occurrence found, clusters listed if present"},"404":{"description":"Occurrence not found"}}}},"/occurrence/{key}":{"get":{"tags":["Occurrences"],"summary":"Occurrence by id","description":"Retrieve details for a single, interpreted occurrence","operationId":"getOccurrenceById","parameters":[{"name":"key","in":"path","description":"Integer key for the occurrence","required":true,"schema":{"type":"integer","format":"int64"},"example":1258202889}],"responses":{"400":{"description":"Invalid identifier supplied"},"200":{"description":"Occurrence found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Occurrence"}}}},"404":{"description":"Occurrence not found"}}}},"/occurrence/{datasetKey}/{occurrenceId}/verbatim":{"get":{"tags":["Occurrences"],"summary":"Verbatim occurrence by dataset key and occurrence id","description":"Retrieve a single, verbatim occurrence without any interpretation by its dataset key and occurrenceId","operationId":"getVerbatimOccurrenceByDatasetKeyAndOccurrenceId","parameters":[{"name":"datasetKey","in":"path","description":"UUID key for the dataset","required":true,"schema":{"type":"string","format":"uuid"},"example":"0001480b-76ca-4f30-86bc-f4292481554b"},{"name":"occurrenceId","in":"path","description":"Occurrence ID from the dataset","required":true,"schema":{"type":"string"},"example":"651D49B2-FF77-7F3F-E053-2614A8C050DE"}],"responses":{"400":{"description":"Invalid identifier supplied"},"200":{"description":"Occurrence found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Occurrence"}}}},"404":{"description":"Occurrence not found"}}}},"/occurrence/{datasetKey}/{occurrenceId}/fragment":{"get":{"tags":["Occurrences"],"summary":"Occurrence fragment by dataset key and occurrence id","description":"Retrieve a single occurrence fragment in its raw form (JSON or XML) by its dataset key and occurrenceId in that dataset","operationId":"getOccurrenceFragmentByDatasetKeyAndOccurrenceId","parameters":[{"name":"datasetKey","in":"path","description":"UUID key for the dataset","required":true,"schema":{"type":"string","format":"uuid"},"example":"0001480b-76ca-4f30-86bc-f4292481554b"},{"name":"occurrenceId","in":"path","description":"Occurrence ID from the dataset","required":true,"schema":{"type":"string"},"example":"651D49B2-FF77-7F3F-E053-2614A8C050DE"}],"responses":{"404":{"description":"Occurrence fragment not found"},"400":{"description":"Invalid identifier supplied"},"200":{"description":"Occurrence fragment found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Occurrence"}}}}}}},"/occurrence/{datasetKey}/{occurrenceId}":{"get":{"tags":["Occurrences"],"summary":"Occurrence by dataset key and occurrence id","description":"Retrieve a single, interpreted occurrence by its dataset key and occurrenceId in that dataset","operationId":"getOccurrenceByDatasetKeyAndOccurrenceId","parameters":[{"name":"datasetKey","in":"path","description":"UUID key for the dataset","required":true,"schema":{"type":"string","format":"uuid"},"example":"0001480b-76ca-4f30-86bc-f4292481554b"},{"name":"occurrenceId","in":"path","description":"Occurrence ID from the dataset","required":true,"schema":{"type":"string"},"example":"651D49B2-FF77-7F3F-E053-2614A8C050DE"}],"responses":{"400":{"description":"Invalid identifier supplied"},"200":{"description":"Occurrence found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Occurrence"}}}},"404":{"description":"Occurrence not found"}}}},"/occurrence/term":{"get":{"tags":["term-resource"],"operationId":"getInterpretation","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TermWrapper"}}}}}}}},"/occurrence/search/waterBody":{"get":{"tags":["Searching"],"operationId":"suggestWaterBody","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/stateProvince":{"get":{"tags":["Searching"],"operationId":"suggestStateProvince","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/samplingProtocol":{"get":{"tags":["Searching"],"operationId":"suggestSamplingProtocol","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/recordedBy":{"get":{"tags":["Searching"],"operationId":"suggestRecordedBy","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/recordNumber":{"get":{"tags":["Searching"],"operationId":"suggestRecordNumbers","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/parentEventId":{"get":{"tags":["Searching"],"operationId":"suggestParentEventId","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/otherCatalogNumbers":{"get":{"tags":["Searching"],"operationId":"suggestOtherCatalogNumbers","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/organismId":{"get":{"tags":["Searching"],"operationId":"suggestOrganismIds","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/occurrenceId":{"get":{"tags":["Searching"],"operationId":"suggestOccurrenceIds","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/locality":{"get":{"tags":["Searching"],"operationId":"suggestLocality","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/institutionCode":{"get":{"tags":["Searching"],"operationId":"suggestInstitutionCodes","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/identifiedBy":{"get":{"tags":["Searching"],"operationId":"suggestIdentifiedBy","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/experimental/term/{term}":{"get":{"tags":["Searching"],"operationId":"searchTerm","parameters":[{"name":"term","in":"path","required":true,"schema":{"type":"string"}},{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/eventId":{"get":{"tags":["Searching"],"operationId":"suggestEventId","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/download":{"get":{"tags":["Searching"],"operationId":"download","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RedirectView"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/RedirectView"}}}}},"deprecated":true}},"/occurrence/search/datasetName":{"get":{"tags":["Searching"],"operationId":"suggestDatasetName","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/collectionCode":{"get":{"tags":["Searching"],"operationId":"suggestCollectionCodes","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/search/catalogNumber":{"get":{"tags":["Searching"],"summary":"Catalog Number suggest","description":"Search that returns matching catalog numbers. Results are ordered by relevance.","operationId":"suggestCatalogNumber","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported","required":true,"schema":{"type":"string"},"example":"K1"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32"},"example":10}],"responses":{"500":{"description":"System failure – retry","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}},"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/occurrence/download/request/{key}":{"get":{"tags":["occurrence-download-resource"],"operationId":"getResult","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/octet-stream;qs=0.5":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"application/x-javascript":{"schema":{"type":"string"}}}}}},"delete":{"tags":["occurrence-download-resource"],"operationId":"delDownload","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/occurrence/download/request/predicate":{"get":{"tags":["occurrence-download-resource"],"operationId":"downloadPredicate_1","parameters":[{"name":"notification_address","in":"query","required":false,"schema":{"type":"string"}},{"name":"format","in":"query","required":true,"schema":{"type":"string"}},{"name":"extensions","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadRequest"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/DownloadRequest"}}}}}}},"/occurrence/download/request/callback":{"get":{"tags":["occurrence-download-resource"],"operationId":"oozieCallback","parameters":[{"name":"job_id","in":"query","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}},"application/x-javascript":{"schema":{"type":"string"}}}}}}},"/occurrence/download/describe/speciesList":{"get":{"tags":["occurrence-download-describe-resource"],"operationId":"speciesList","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Table"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/Table"}}}}}}},"/occurrence/download/describe/simpleWithVerbatimAvro":{"get":{"tags":["occurrence-download-describe-resource"],"operationId":"simpleWithVerbatimAvro","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Table"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/Table"}}}}}}},"/occurrence/download/describe/simpleCsv":{"get":{"tags":["occurrence-download-describe-resource"],"operationId":"simpleCsv","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Table"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/Table"}}}}}}},"/occurrence/download/describe/simpleAvro":{"get":{"tags":["occurrence-download-describe-resource"],"operationId":"simpleAvro","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Table"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/Table"}}}}}}},"/occurrence/download/describe/dwca":{"get":{"tags":["occurrence-download-describe-resource"],"operationId":"dwca","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DwcDownload"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/DwcDownload"}}}}}}}},"components":{"schemas":{"ConjunctionPredicate":{"required":["predicates"],"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"},{"type":"object","properties":{"predicates":{"type":"array","items":{"$ref":"#/components/schemas/Predicate"}}}}]},"DisjunctionPredicate":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}]},"Distance":{"type":"object","properties":{"value":{"type":"number","format":"double"},"unit":{"type":"string","enum":["in","yd","ft","km","NM","mm","cm","mi","m"]}}},"EqualsPredicate":{"required":["key","value"],"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"},{"type":"object","properties":{"key":{"type":"string","enum":["DATASET_KEY","YEAR","MONTH","EVENT_DATE","EVENT_ID","PARENT_EVENT_ID","SAMPLING_PROTOCOL","LAST_INTERPRETED","MODIFIED","DECIMAL_LATITUDE","DECIMAL_LONGITUDE","COORDINATE_UNCERTAINTY_IN_METERS","COUNTRY","CONTINENT","PUBLISHING_COUNTRY","ELEVATION","DEPTH","INSTITUTION_CODE","COLLECTION_CODE","CATALOG_NUMBER","RECORDED_BY","IDENTIFIED_BY","RECORD_NUMBER","BASIS_OF_RECORD","TAXON_KEY","ACCEPTED_TAXON_KEY","KINGDOM_KEY","PHYLUM_KEY","CLASS_KEY","ORDER_KEY","FAMILY_KEY","GENUS_KEY","SUBGENUS_KEY","SPECIES_KEY","SCIENTIFIC_NAME","VERBATIM_SCIENTIFIC_NAME","TAXON_ID","TAXONOMIC_STATUS","HAS_COORDINATE","GEOMETRY","GEO_DISTANCE","HAS_GEOSPATIAL_ISSUE","ISSUE","TYPE_STATUS","MEDIA_TYPE","OCCURRENCE_ID","ESTABLISHMENT_MEANS","DEGREE_OF_ESTABLISHMENT","PATHWAY","REPATRIATED","ORGANISM_ID","STATE_PROVINCE","WATER_BODY","LOCALITY","PROTOCOL","LICENSE","PUBLISHING_ORG","NETWORK_KEY","INSTALLATION_KEY","HOSTING_ORGANIZATION_KEY","CRAWL_ID","PROJECT_ID","PROGRAMME","ORGANISM_QUANTITY","ORGANISM_QUANTITY_TYPE","SAMPLE_SIZE_UNIT","SAMPLE_SIZE_VALUE","RELATIVE_ORGANISM_QUANTITY","COLLECTION_KEY","INSTITUTION_KEY","RECORDED_BY_ID","IDENTIFIED_BY_ID","OCCURRENCE_STATUS","GADM_GID","GADM_LEVEL_0_GID","GADM_LEVEL_1_GID","GADM_LEVEL_2_GID","GADM_LEVEL_3_GID","LIFE_STAGE","IS_IN_CLUSTER","DWCA_EXTENSION","IUCN_RED_LIST_CATEGORY","DATASET_ID","DATASET_NAME","OTHER_CATALOG_NUMBERS","PREPARATIONS"]},"value":{"type":"string"},"matchCase":{"type":"boolean"}}}]},"FullTextSearchPredicate":{"required":["key","q"],"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"},{"type":"object","properties":{"key":{"type":"string","writeOnly":true},"q":{"type":"string"}}}]},"GeoDistance":{"type":"object","properties":{"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"distance":{"$ref":"#/components/schemas/Distance"}}},"GeoDistancePredicate":{"required":["distance","geoDistance","latitude","longitude"],"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"},{"type":"object","properties":{"latitude":{"type":"string"},"longitude":{"type":"string"},"distance":{"type":"string"},"geoDistance":{"$ref":"#/components/schemas/GeoDistance"}}}]},"GreaterThanOrEqualsPredicate":{"required":["key","value"],"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"},{"type":"object","properties":{"key":{"type":"string","enum":["DATASET_KEY","YEAR","MONTH","EVENT_DATE","EVENT_ID","PARENT_EVENT_ID","SAMPLING_PROTOCOL","LAST_INTERPRETED","MODIFIED","DECIMAL_LATITUDE","DECIMAL_LONGITUDE","COORDINATE_UNCERTAINTY_IN_METERS","COUNTRY","CONTINENT","PUBLISHING_COUNTRY","ELEVATION","DEPTH","INSTITUTION_CODE","COLLECTION_CODE","CATALOG_NUMBER","RECORDED_BY","IDENTIFIED_BY","RECORD_NUMBER","BASIS_OF_RECORD","TAXON_KEY","ACCEPTED_TAXON_KEY","KINGDOM_KEY","PHYLUM_KEY","CLASS_KEY","ORDER_KEY","FAMILY_KEY","GENUS_KEY","SUBGENUS_KEY","SPECIES_KEY","SCIENTIFIC_NAME","VERBATIM_SCIENTIFIC_NAME","TAXON_ID","TAXONOMIC_STATUS","HAS_COORDINATE","GEOMETRY","GEO_DISTANCE","HAS_GEOSPATIAL_ISSUE","ISSUE","TYPE_STATUS","MEDIA_TYPE","OCCURRENCE_ID","ESTABLISHMENT_MEANS","DEGREE_OF_ESTABLISHMENT","PATHWAY","REPATRIATED","ORGANISM_ID","STATE_PROVINCE","WATER_BODY","LOCALITY","PROTOCOL","LICENSE","PUBLISHING_ORG","NETWORK_KEY","INSTALLATION_KEY","HOSTING_ORGANIZATION_KEY","CRAWL_ID","PROJECT_ID","PROGRAMME","ORGANISM_QUANTITY","ORGANISM_QUANTITY_TYPE","SAMPLE_SIZE_UNIT","SAMPLE_SIZE_VALUE","RELATIVE_ORGANISM_QUANTITY","COLLECTION_KEY","INSTITUTION_KEY","RECORDED_BY_ID","IDENTIFIED_BY_ID","OCCURRENCE_STATUS","GADM_GID","GADM_LEVEL_0_GID","GADM_LEVEL_1_GID","GADM_LEVEL_2_GID","GADM_LEVEL_3_GID","LIFE_STAGE","IS_IN_CLUSTER","DWCA_EXTENSION","IUCN_RED_LIST_CATEGORY","DATASET_ID","DATASET_NAME","OTHER_CATALOG_NUMBERS","PREPARATIONS"]},"value":{"type":"string"},"matchCase":{"type":"boolean"}}}]},"GreaterThanPredicate":{"required":["key","value"],"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"},{"type":"object","properties":{"key":{"type":"string","enum":["DATASET_KEY","YEAR","MONTH","EVENT_DATE","EVENT_ID","PARENT_EVENT_ID","SAMPLING_PROTOCOL","LAST_INTERPRETED","MODIFIED","DECIMAL_LATITUDE","DECIMAL_LONGITUDE","COORDINATE_UNCERTAINTY_IN_METERS","COUNTRY","CONTINENT","PUBLISHING_COUNTRY","ELEVATION","DEPTH","INSTITUTION_CODE","COLLECTION_CODE","CATALOG_NUMBER","RECORDED_BY","IDENTIFIED_BY","RECORD_NUMBER","BASIS_OF_RECORD","TAXON_KEY","ACCEPTED_TAXON_KEY","KINGDOM_KEY","PHYLUM_KEY","CLASS_KEY","ORDER_KEY","FAMILY_KEY","GENUS_KEY","SUBGENUS_KEY","SPECIES_KEY","SCIENTIFIC_NAME","VERBATIM_SCIENTIFIC_NAME","TAXON_ID","TAXONOMIC_STATUS","HAS_COORDINATE","GEOMETRY","GEO_DISTANCE","HAS_GEOSPATIAL_ISSUE","ISSUE","TYPE_STATUS","MEDIA_TYPE","OCCURRENCE_ID","ESTABLISHMENT_MEANS","DEGREE_OF_ESTABLISHMENT","PATHWAY","REPATRIATED","ORGANISM_ID","STATE_PROVINCE","WATER_BODY","LOCALITY","PROTOCOL","LICENSE","PUBLISHING_ORG","NETWORK_KEY","INSTALLATION_KEY","HOSTING_ORGANIZATION_KEY","CRAWL_ID","PROJECT_ID","PROGRAMME","ORGANISM_QUANTITY","ORGANISM_QUANTITY_TYPE","SAMPLE_SIZE_UNIT","SAMPLE_SIZE_VALUE","RELATIVE_ORGANISM_QUANTITY","COLLECTION_KEY","INSTITUTION_KEY","RECORDED_BY_ID","IDENTIFIED_BY_ID","OCCURRENCE_STATUS","GADM_GID","GADM_LEVEL_0_GID","GADM_LEVEL_1_GID","GADM_LEVEL_2_GID","GADM_LEVEL_3_GID","LIFE_STAGE","IS_IN_CLUSTER","DWCA_EXTENSION","IUCN_RED_LIST_CATEGORY","DATASET_ID","DATASET_NAME","OTHER_CATALOG_NUMBERS","PREPARATIONS"]},"value":{"type":"string"},"matchCase":{"type":"boolean"}}}]},"InPredicate":{"required":["key","values"],"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"},{"type":"object","properties":{"key":{"type":"string","enum":["DATASET_KEY","YEAR","MONTH","EVENT_DATE","EVENT_ID","PARENT_EVENT_ID","SAMPLING_PROTOCOL","LAST_INTERPRETED","MODIFIED","DECIMAL_LATITUDE","DECIMAL_LONGITUDE","COORDINATE_UNCERTAINTY_IN_METERS","COUNTRY","CONTINENT","PUBLISHING_COUNTRY","ELEVATION","DEPTH","INSTITUTION_CODE","COLLECTION_CODE","CATALOG_NUMBER","RECORDED_BY","IDENTIFIED_BY","RECORD_NUMBER","BASIS_OF_RECORD","TAXON_KEY","ACCEPTED_TAXON_KEY","KINGDOM_KEY","PHYLUM_KEY","CLASS_KEY","ORDER_KEY","FAMILY_KEY","GENUS_KEY","SUBGENUS_KEY","SPECIES_KEY","SCIENTIFIC_NAME","VERBATIM_SCIENTIFIC_NAME","TAXON_ID","TAXONOMIC_STATUS","HAS_COORDINATE","GEOMETRY","GEO_DISTANCE","HAS_GEOSPATIAL_ISSUE","ISSUE","TYPE_STATUS","MEDIA_TYPE","OCCURRENCE_ID","ESTABLISHMENT_MEANS","DEGREE_OF_ESTABLISHMENT","PATHWAY","REPATRIATED","ORGANISM_ID","STATE_PROVINCE","WATER_BODY","LOCALITY","PROTOCOL","LICENSE","PUBLISHING_ORG","NETWORK_KEY","INSTALLATION_KEY","HOSTING_ORGANIZATION_KEY","CRAWL_ID","PROJECT_ID","PROGRAMME","ORGANISM_QUANTITY","ORGANISM_QUANTITY_TYPE","SAMPLE_SIZE_UNIT","SAMPLE_SIZE_VALUE","RELATIVE_ORGANISM_QUANTITY","COLLECTION_KEY","INSTITUTION_KEY","RECORDED_BY_ID","IDENTIFIED_BY_ID","OCCURRENCE_STATUS","GADM_GID","GADM_LEVEL_0_GID","GADM_LEVEL_1_GID","GADM_LEVEL_2_GID","GADM_LEVEL_3_GID","LIFE_STAGE","IS_IN_CLUSTER","DWCA_EXTENSION","IUCN_RED_LIST_CATEGORY","DATASET_ID","DATASET_NAME","OTHER_CATALOG_NUMBERS","PREPARATIONS"]},"values":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"type":"string"}},"matchCase":{"type":"boolean"}}}]},"IsNotNullPredicate":{"required":["parameter"],"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"},{"type":"object","properties":{"parameter":{"type":"string","enum":["DATASET_KEY","YEAR","MONTH","EVENT_DATE","EVENT_ID","PARENT_EVENT_ID","SAMPLING_PROTOCOL","LAST_INTERPRETED","MODIFIED","DECIMAL_LATITUDE","DECIMAL_LONGITUDE","COORDINATE_UNCERTAINTY_IN_METERS","COUNTRY","CONTINENT","PUBLISHING_COUNTRY","ELEVATION","DEPTH","INSTITUTION_CODE","COLLECTION_CODE","CATALOG_NUMBER","RECORDED_BY","IDENTIFIED_BY","RECORD_NUMBER","BASIS_OF_RECORD","TAXON_KEY","ACCEPTED_TAXON_KEY","KINGDOM_KEY","PHYLUM_KEY","CLASS_KEY","ORDER_KEY","FAMILY_KEY","GENUS_KEY","SUBGENUS_KEY","SPECIES_KEY","SCIENTIFIC_NAME","VERBATIM_SCIENTIFIC_NAME","TAXON_ID","TAXONOMIC_STATUS","HAS_COORDINATE","GEOMETRY","GEO_DISTANCE","HAS_GEOSPATIAL_ISSUE","ISSUE","TYPE_STATUS","MEDIA_TYPE","OCCURRENCE_ID","ESTABLISHMENT_MEANS","DEGREE_OF_ESTABLISHMENT","PATHWAY","REPATRIATED","ORGANISM_ID","STATE_PROVINCE","WATER_BODY","LOCALITY","PROTOCOL","LICENSE","PUBLISHING_ORG","NETWORK_KEY","INSTALLATION_KEY","HOSTING_ORGANIZATION_KEY","CRAWL_ID","PROJECT_ID","PROGRAMME","ORGANISM_QUANTITY","ORGANISM_QUANTITY_TYPE","SAMPLE_SIZE_UNIT","SAMPLE_SIZE_VALUE","RELATIVE_ORGANISM_QUANTITY","COLLECTION_KEY","INSTITUTION_KEY","RECORDED_BY_ID","IDENTIFIED_BY_ID","OCCURRENCE_STATUS","GADM_GID","GADM_LEVEL_0_GID","GADM_LEVEL_1_GID","GADM_LEVEL_2_GID","GADM_LEVEL_3_GID","LIFE_STAGE","IS_IN_CLUSTER","DWCA_EXTENSION","IUCN_RED_LIST_CATEGORY","DATASET_ID","DATASET_NAME","OTHER_CATALOG_NUMBERS","PREPARATIONS"]}}}]},"IsNullPredicate":{"required":["parameter"],"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"},{"type":"object","properties":{"parameter":{"type":"string","enum":["DATASET_KEY","YEAR","MONTH","EVENT_DATE","EVENT_ID","PARENT_EVENT_ID","SAMPLING_PROTOCOL","LAST_INTERPRETED","MODIFIED","DECIMAL_LATITUDE","DECIMAL_LONGITUDE","COORDINATE_UNCERTAINTY_IN_METERS","COUNTRY","CONTINENT","PUBLISHING_COUNTRY","ELEVATION","DEPTH","INSTITUTION_CODE","COLLECTION_CODE","CATALOG_NUMBER","RECORDED_BY","IDENTIFIED_BY","RECORD_NUMBER","BASIS_OF_RECORD","TAXON_KEY","ACCEPTED_TAXON_KEY","KINGDOM_KEY","PHYLUM_KEY","CLASS_KEY","ORDER_KEY","FAMILY_KEY","GENUS_KEY","SUBGENUS_KEY","SPECIES_KEY","SCIENTIFIC_NAME","VERBATIM_SCIENTIFIC_NAME","TAXON_ID","TAXONOMIC_STATUS","HAS_COORDINATE","GEOMETRY","GEO_DISTANCE","HAS_GEOSPATIAL_ISSUE","ISSUE","TYPE_STATUS","MEDIA_TYPE","OCCURRENCE_ID","ESTABLISHMENT_MEANS","DEGREE_OF_ESTABLISHMENT","PATHWAY","REPATRIATED","ORGANISM_ID","STATE_PROVINCE","WATER_BODY","LOCALITY","PROTOCOL","LICENSE","PUBLISHING_ORG","NETWORK_KEY","INSTALLATION_KEY","HOSTING_ORGANIZATION_KEY","CRAWL_ID","PROJECT_ID","PROGRAMME","ORGANISM_QUANTITY","ORGANISM_QUANTITY_TYPE","SAMPLE_SIZE_UNIT","SAMPLE_SIZE_VALUE","RELATIVE_ORGANISM_QUANTITY","COLLECTION_KEY","INSTITUTION_KEY","RECORDED_BY_ID","IDENTIFIED_BY_ID","OCCURRENCE_STATUS","GADM_GID","GADM_LEVEL_0_GID","GADM_LEVEL_1_GID","GADM_LEVEL_2_GID","GADM_LEVEL_3_GID","LIFE_STAGE","IS_IN_CLUSTER","DWCA_EXTENSION","IUCN_RED_LIST_CATEGORY","DATASET_ID","DATASET_NAME","OTHER_CATALOG_NUMBERS","PREPARATIONS"]}}}]},"LessThanOrEqualsPredicate":{"required":["key","value"],"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"},{"type":"object","properties":{"key":{"type":"string","enum":["DATASET_KEY","YEAR","MONTH","EVENT_DATE","EVENT_ID","PARENT_EVENT_ID","SAMPLING_PROTOCOL","LAST_INTERPRETED","MODIFIED","DECIMAL_LATITUDE","DECIMAL_LONGITUDE","COORDINATE_UNCERTAINTY_IN_METERS","COUNTRY","CONTINENT","PUBLISHING_COUNTRY","ELEVATION","DEPTH","INSTITUTION_CODE","COLLECTION_CODE","CATALOG_NUMBER","RECORDED_BY","IDENTIFIED_BY","RECORD_NUMBER","BASIS_OF_RECORD","TAXON_KEY","ACCEPTED_TAXON_KEY","KINGDOM_KEY","PHYLUM_KEY","CLASS_KEY","ORDER_KEY","FAMILY_KEY","GENUS_KEY","SUBGENUS_KEY","SPECIES_KEY","SCIENTIFIC_NAME","VERBATIM_SCIENTIFIC_NAME","TAXON_ID","TAXONOMIC_STATUS","HAS_COORDINATE","GEOMETRY","GEO_DISTANCE","HAS_GEOSPATIAL_ISSUE","ISSUE","TYPE_STATUS","MEDIA_TYPE","OCCURRENCE_ID","ESTABLISHMENT_MEANS","DEGREE_OF_ESTABLISHMENT","PATHWAY","REPATRIATED","ORGANISM_ID","STATE_PROVINCE","WATER_BODY","LOCALITY","PROTOCOL","LICENSE","PUBLISHING_ORG","NETWORK_KEY","INSTALLATION_KEY","HOSTING_ORGANIZATION_KEY","CRAWL_ID","PROJECT_ID","PROGRAMME","ORGANISM_QUANTITY","ORGANISM_QUANTITY_TYPE","SAMPLE_SIZE_UNIT","SAMPLE_SIZE_VALUE","RELATIVE_ORGANISM_QUANTITY","COLLECTION_KEY","INSTITUTION_KEY","RECORDED_BY_ID","IDENTIFIED_BY_ID","OCCURRENCE_STATUS","GADM_GID","GADM_LEVEL_0_GID","GADM_LEVEL_1_GID","GADM_LEVEL_2_GID","GADM_LEVEL_3_GID","LIFE_STAGE","IS_IN_CLUSTER","DWCA_EXTENSION","IUCN_RED_LIST_CATEGORY","DATASET_ID","DATASET_NAME","OTHER_CATALOG_NUMBERS","PREPARATIONS"]},"value":{"type":"string"},"matchCase":{"type":"boolean"}}}]},"LessThanPredicate":{"required":["key","value"],"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"},{"type":"object","properties":{"key":{"type":"string","enum":["DATASET_KEY","YEAR","MONTH","EVENT_DATE","EVENT_ID","PARENT_EVENT_ID","SAMPLING_PROTOCOL","LAST_INTERPRETED","MODIFIED","DECIMAL_LATITUDE","DECIMAL_LONGITUDE","COORDINATE_UNCERTAINTY_IN_METERS","COUNTRY","CONTINENT","PUBLISHING_COUNTRY","ELEVATION","DEPTH","INSTITUTION_CODE","COLLECTION_CODE","CATALOG_NUMBER","RECORDED_BY","IDENTIFIED_BY","RECORD_NUMBER","BASIS_OF_RECORD","TAXON_KEY","ACCEPTED_TAXON_KEY","KINGDOM_KEY","PHYLUM_KEY","CLASS_KEY","ORDER_KEY","FAMILY_KEY","GENUS_KEY","SUBGENUS_KEY","SPECIES_KEY","SCIENTIFIC_NAME","VERBATIM_SCIENTIFIC_NAME","TAXON_ID","TAXONOMIC_STATUS","HAS_COORDINATE","GEOMETRY","GEO_DISTANCE","HAS_GEOSPATIAL_ISSUE","ISSUE","TYPE_STATUS","MEDIA_TYPE","OCCURRENCE_ID","ESTABLISHMENT_MEANS","DEGREE_OF_ESTABLISHMENT","PATHWAY","REPATRIATED","ORGANISM_ID","STATE_PROVINCE","WATER_BODY","LOCALITY","PROTOCOL","LICENSE","PUBLISHING_ORG","NETWORK_KEY","INSTALLATION_KEY","HOSTING_ORGANIZATION_KEY","CRAWL_ID","PROJECT_ID","PROGRAMME","ORGANISM_QUANTITY","ORGANISM_QUANTITY_TYPE","SAMPLE_SIZE_UNIT","SAMPLE_SIZE_VALUE","RELATIVE_ORGANISM_QUANTITY","COLLECTION_KEY","INSTITUTION_KEY","RECORDED_BY_ID","IDENTIFIED_BY_ID","OCCURRENCE_STATUS","GADM_GID","GADM_LEVEL_0_GID","GADM_LEVEL_1_GID","GADM_LEVEL_2_GID","GADM_LEVEL_3_GID","LIFE_STAGE","IS_IN_CLUSTER","DWCA_EXTENSION","IUCN_RED_LIST_CATEGORY","DATASET_ID","DATASET_NAME","OTHER_CATALOG_NUMBERS","PREPARATIONS"]},"value":{"type":"string"},"matchCase":{"type":"boolean"}}}]},"LikePredicate":{"required":["key","value"],"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"},{"type":"object","properties":{"key":{"type":"string","enum":["DATASET_KEY","YEAR","MONTH","EVENT_DATE","EVENT_ID","PARENT_EVENT_ID","SAMPLING_PROTOCOL","LAST_INTERPRETED","MODIFIED","DECIMAL_LATITUDE","DECIMAL_LONGITUDE","COORDINATE_UNCERTAINTY_IN_METERS","COUNTRY","CONTINENT","PUBLISHING_COUNTRY","ELEVATION","DEPTH","INSTITUTION_CODE","COLLECTION_CODE","CATALOG_NUMBER","RECORDED_BY","IDENTIFIED_BY","RECORD_NUMBER","BASIS_OF_RECORD","TAXON_KEY","ACCEPTED_TAXON_KEY","KINGDOM_KEY","PHYLUM_KEY","CLASS_KEY","ORDER_KEY","FAMILY_KEY","GENUS_KEY","SUBGENUS_KEY","SPECIES_KEY","SCIENTIFIC_NAME","VERBATIM_SCIENTIFIC_NAME","TAXON_ID","TAXONOMIC_STATUS","HAS_COORDINATE","GEOMETRY","GEO_DISTANCE","HAS_GEOSPATIAL_ISSUE","ISSUE","TYPE_STATUS","MEDIA_TYPE","OCCURRENCE_ID","ESTABLISHMENT_MEANS","DEGREE_OF_ESTABLISHMENT","PATHWAY","REPATRIATED","ORGANISM_ID","STATE_PROVINCE","WATER_BODY","LOCALITY","PROTOCOL","LICENSE","PUBLISHING_ORG","NETWORK_KEY","INSTALLATION_KEY","HOSTING_ORGANIZATION_KEY","CRAWL_ID","PROJECT_ID","PROGRAMME","ORGANISM_QUANTITY","ORGANISM_QUANTITY_TYPE","SAMPLE_SIZE_UNIT","SAMPLE_SIZE_VALUE","RELATIVE_ORGANISM_QUANTITY","COLLECTION_KEY","INSTITUTION_KEY","RECORDED_BY_ID","IDENTIFIED_BY_ID","OCCURRENCE_STATUS","GADM_GID","GADM_LEVEL_0_GID","GADM_LEVEL_1_GID","GADM_LEVEL_2_GID","GADM_LEVEL_3_GID","LIFE_STAGE","IS_IN_CLUSTER","DWCA_EXTENSION","IUCN_RED_LIST_CATEGORY","DATASET_ID","DATASET_NAME","OTHER_CATALOG_NUMBERS","PREPARATIONS"]},"value":{"type":"string"},"matchCase":{"type":"boolean"}}}]},"NotPredicate":{"required":["predicate"],"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"},{"type":"object","properties":{"predicate":{"$ref":"#/components/schemas/Predicate"}}}]},"OccurrencePredicateSearchRequest":{"type":"object","properties":{"offset":{"minimum":0,"type":"integer","format":"int64"},"limit":{"minimum":0,"type":"integer","format":"int32"},"parameters":{"type":"object","additionalProperties":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},"q":{"type":"string"},"highlight":{"type":"boolean"},"spellCheck":{"type":"boolean"},"spellCheckCount":{"type":"integer","format":"int32"},"highlightFields":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/QueryField"}},"facets":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["DATASET_KEY","YEAR","MONTH","EVENT_DATE","EVENT_ID","PARENT_EVENT_ID","SAMPLING_PROTOCOL","LAST_INTERPRETED","MODIFIED","DECIMAL_LATITUDE","DECIMAL_LONGITUDE","COORDINATE_UNCERTAINTY_IN_METERS","COUNTRY","CONTINENT","PUBLISHING_COUNTRY","ELEVATION","DEPTH","INSTITUTION_CODE","COLLECTION_CODE","CATALOG_NUMBER","RECORDED_BY","IDENTIFIED_BY","RECORD_NUMBER","BASIS_OF_RECORD","TAXON_KEY","ACCEPTED_TAXON_KEY","KINGDOM_KEY","PHYLUM_KEY","CLASS_KEY","ORDER_KEY","FAMILY_KEY","GENUS_KEY","SUBGENUS_KEY","SPECIES_KEY","SCIENTIFIC_NAME","VERBATIM_SCIENTIFIC_NAME","TAXON_ID","TAXONOMIC_STATUS","HAS_COORDINATE","GEOMETRY","GEO_DISTANCE","HAS_GEOSPATIAL_ISSUE","ISSUE","TYPE_STATUS","MEDIA_TYPE","OCCURRENCE_ID","ESTABLISHMENT_MEANS","DEGREE_OF_ESTABLISHMENT","PATHWAY","REPATRIATED","ORGANISM_ID","STATE_PROVINCE","WATER_BODY","LOCALITY","PROTOCOL","LICENSE","PUBLISHING_ORG","NETWORK_KEY","INSTALLATION_KEY","HOSTING_ORGANIZATION_KEY","CRAWL_ID","PROJECT_ID","PROGRAMME","ORGANISM_QUANTITY","ORGANISM_QUANTITY_TYPE","SAMPLE_SIZE_UNIT","SAMPLE_SIZE_VALUE","RELATIVE_ORGANISM_QUANTITY","COLLECTION_KEY","INSTITUTION_KEY","RECORDED_BY_ID","IDENTIFIED_BY_ID","OCCURRENCE_STATUS","GADM_GID","GADM_LEVEL_0_GID","GADM_LEVEL_1_GID","GADM_LEVEL_2_GID","GADM_LEVEL_3_GID","LIFE_STAGE","IS_IN_CLUSTER","DWCA_EXTENSION","IUCN_RED_LIST_CATEGORY","DATASET_ID","DATASET_NAME","OTHER_CATALOG_NUMBERS","PREPARATIONS"]}},"multiSelectFacets":{"type":"boolean"},"facetMinCount":{"type":"integer","format":"int32"},"facetLimit":{"type":"integer","format":"int32"},"facetOffset":{"type":"integer","format":"int32"},"facetPages":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Pageable"}},"matchCase":{"type":"boolean"},"predicate":{"oneOf":[{"$ref":"#/components/schemas/ConjunctionPredicate"},{"$ref":"#/components/schemas/DisjunctionPredicate"},{"$ref":"#/components/schemas/EqualsPredicate"},{"$ref":"#/components/schemas/FullTextSearchPredicate"},{"$ref":"#/components/schemas/GeoDistancePredicate"},{"$ref":"#/components/schemas/GreaterThanOrEqualsPredicate"},{"$ref":"#/components/schemas/GreaterThanPredicate"},{"$ref":"#/components/schemas/InPredicate"},{"$ref":"#/components/schemas/IsNotNullPredicate"},{"$ref":"#/components/schemas/IsNullPredicate"},{"$ref":"#/components/schemas/LessThanOrEqualsPredicate"},{"$ref":"#/components/schemas/LessThanPredicate"},{"$ref":"#/components/schemas/LikePredicate"},{"$ref":"#/components/schemas/NotPredicate"},{"$ref":"#/components/schemas/WithinPredicate"}]},"qfields":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/QueryField"}}}},"Pageable":{"type":"object","properties":{"limit":{"minimum":0,"type":"integer","format":"int32"},"offset":{"minimum":0,"type":"integer","format":"int64"}}},"Predicate":{"required":["type"],"type":"object","properties":{"type":{"type":"string"}},"discriminator":{"propertyName":"type"}},"QueryField":{"type":"object"},"WithinPredicate":{"required":["geometry"],"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"},{"type":"object","properties":{"geometry":{"type":"string"}}}]},"AgentIdentifier":{"required":["value"],"type":"object","properties":{"type":{"type":"string","enum":["ORCID","WIKIDATA","OTHER"]},"value":{"type":"string"}}},"Count":{"type":"object","properties":{"name":{"type":"string"},"count":{"type":"integer","format":"int64"}}},"FacetOccurrenceSearchParameter":{"type":"object","properties":{"field":{"type":"string","enum":["DATASET_KEY","YEAR","MONTH","EVENT_DATE","EVENT_ID","PARENT_EVENT_ID","SAMPLING_PROTOCOL","LAST_INTERPRETED","MODIFIED","DECIMAL_LATITUDE","DECIMAL_LONGITUDE","COORDINATE_UNCERTAINTY_IN_METERS","COUNTRY","CONTINENT","PUBLISHING_COUNTRY","ELEVATION","DEPTH","INSTITUTION_CODE","COLLECTION_CODE","CATALOG_NUMBER","RECORDED_BY","IDENTIFIED_BY","RECORD_NUMBER","BASIS_OF_RECORD","TAXON_KEY","ACCEPTED_TAXON_KEY","KINGDOM_KEY","PHYLUM_KEY","CLASS_KEY","ORDER_KEY","FAMILY_KEY","GENUS_KEY","SUBGENUS_KEY","SPECIES_KEY","SCIENTIFIC_NAME","VERBATIM_SCIENTIFIC_NAME","TAXON_ID","TAXONOMIC_STATUS","HAS_COORDINATE","GEOMETRY","GEO_DISTANCE","HAS_GEOSPATIAL_ISSUE","ISSUE","TYPE_STATUS","MEDIA_TYPE","OCCURRENCE_ID","ESTABLISHMENT_MEANS","DEGREE_OF_ESTABLISHMENT","PATHWAY","REPATRIATED","ORGANISM_ID","STATE_PROVINCE","WATER_BODY","LOCALITY","PROTOCOL","LICENSE","PUBLISHING_ORG","NETWORK_KEY","INSTALLATION_KEY","HOSTING_ORGANIZATION_KEY","CRAWL_ID","PROJECT_ID","PROGRAMME","ORGANISM_QUANTITY","ORGANISM_QUANTITY_TYPE","SAMPLE_SIZE_UNIT","SAMPLE_SIZE_VALUE","RELATIVE_ORGANISM_QUANTITY","COLLECTION_KEY","INSTITUTION_KEY","RECORDED_BY_ID","IDENTIFIED_BY_ID","OCCURRENCE_STATUS","GADM_GID","GADM_LEVEL_0_GID","GADM_LEVEL_1_GID","GADM_LEVEL_2_GID","GADM_LEVEL_3_GID","LIFE_STAGE","IS_IN_CLUSTER","DWCA_EXTENSION","IUCN_RED_LIST_CATEGORY","DATASET_ID","DATASET_NAME","OTHER_CATALOG_NUMBERS","PREPARATIONS"]},"counts":{"type":"array","items":{"$ref":"#/components/schemas/Count"}}}},"Gadm":{"type":"object","properties":{"level0":{"$ref":"#/components/schemas/GadmFeature"},"level1":{"$ref":"#/components/schemas/GadmFeature"},"level2":{"$ref":"#/components/schemas/GadmFeature"},"level3":{"$ref":"#/components/schemas/GadmFeature"}}},"GadmFeature":{"required":["name"],"type":"object","properties":{"gid":{"type":"string"},"name":{"type":"string"}}},"Identifier":{"required":["identifier","type"],"type":"object","properties":{"identifier":{"type":"string"},"title":{"type":"string"},"type":{"type":"string","enum":["URL","LSID","HANDLER","DOI","UUID","FTP","URI","UNKNOWN","GBIF_PORTAL","GBIF_NODE","GBIF_PARTICIPANT","GRSCICOLL_ID","GRSCICOLL_URI","IH_IRN","ROR","GRID","CITES"]},"identifierLink":{"type":"string"}}},"MeasurementOrFact":{"required":["id","type","value"],"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"value":{"type":"string"},"unit":{"type":"string"},"accuracy":{"type":"string"},"method":{"type":"string"},"determinedBy":{"type":"string"},"determinedDate":{"type":"string"},"remarks":{"type":"string"}}},"MediaObject":{"required":["identifier","type"],"type":"object","properties":{"type":{"type":"string","enum":["StillImage","MovingImage","Sound"]},"format":{"type":"string"},"references":{"type":"string","format":"uri"},"title":{"type":"string"},"description":{"type":"string"},"source":{"type":"string"},"audience":{"type":"string"},"created":{"type":"string","format":"date-time"},"creator":{"type":"string"},"contributor":{"type":"string"},"publisher":{"type":"string"},"license":{"type":"string"},"rightsHolder":{"type":"string"},"identifier":{"type":"string","format":"uri"}}},"Occurrence":{"required":["datasetKey","extensions","facts","gadm","identifiedByIDs","identifiers","issues","key","license","media","protocol","publishingOrgKey","recordedByIDs","relations"],"type":"object","properties":{"key":{"type":"integer","format":"int64"},"datasetKey":{"type":"string","format":"uuid"},"publishingOrgKey":{"type":"string","format":"uuid"},"networkKeys":{"type":"array","items":{"type":"string","format":"uuid"}},"installationKey":{"type":"string","format":"uuid"},"publishingCountry":{"type":"string","enum":["AFGHANISTAN","ALAND_ISLANDS","ALBANIA","ALGERIA","AMERICAN_SAMOA","ANDORRA","ANGOLA","ANGUILLA","ANTARCTICA","ANTIGUA_BARBUDA","ARGENTINA","ARMENIA","ARUBA","AUSTRALIA","AUSTRIA","AZERBAIJAN","BAHAMAS","BAHRAIN","BANGLADESH","BARBADOS","BELARUS","BELGIUM","BELIZE","BENIN","BERMUDA","BHUTAN","BOLIVIA","BONAIRE_SINT_EUSTATIUS_SABA","BOSNIA_HERZEGOVINA","BOTSWANA","BOUVET_ISLAND","BRAZIL","BRITISH_INDIAN_OCEAN_TERRITORY","BRUNEI_DARUSSALAM","BULGARIA","BURKINA_FASO","BURUNDI","CAMBODIA","CAMEROON","CANADA","CAPE_VERDE","CAYMAN_ISLANDS","CENTRAL_AFRICAN_REPUBLIC","CHAD","CHILE","CHINA","CHRISTMAS_ISLAND","COCOS_ISLANDS","COLOMBIA","COMOROS","CONGO_DEMOCRATIC_REPUBLIC","CONGO","COOK_ISLANDS","COSTA_RICA","CÔTE_DIVOIRE","CROATIA","CUBA","CURAÇAO","CYPRUS","CZECH_REPUBLIC","DENMARK","DJIBOUTI","DOMINICA","DOMINICAN_REPUBLIC","ECUADOR","EGYPT","EL_SALVADOR","EQUATORIAL_GUINEA","ERITREA","ESTONIA","ETHIOPIA","FALKLAND_ISLANDS","FAROE_ISLANDS","FIJI","FINLAND","FRANCE","FRENCH_GUIANA","FRENCH_POLYNESIA","FRENCH_SOUTHERN_TERRITORIES","GABON","GAMBIA","GEORGIA","GERMANY","GHANA","GIBRALTAR","GREECE","GREENLAND","GRENADA","GUADELOUPE","GUAM","GUATEMALA","GUERNSEY","GUINEA","GUINEA_BISSAU","GUYANA","HAITI","HEARD_MCDONALD_ISLANDS","VATICAN","HONDURAS","HONG_KONG","HUNGARY","ICELAND","INDIA","INDONESIA","IRAN","IRAQ","IRELAND","ISLE_OF_MAN","ISRAEL","ITALY","JAMAICA","JAPAN","JERSEY","JORDAN","KAZAKHSTAN","KENYA","KIRIBATI","KOREA_NORTH","KOREA_SOUTH","KUWAIT","KYRGYZSTAN","LAO","LATVIA","LEBANON","LESOTHO","LIBERIA","LIBYA","LIECHTENSTEIN","LITHUANIA","LUXEMBOURG","MACAO","MACEDONIA","MADAGASCAR","MALAWI","MALAYSIA","MALDIVES","MALI","MALTA","MARSHALL_ISLANDS","MARTINIQUE","MAURITANIA","MAURITIUS","MAYOTTE","MEXICO","MICRONESIA","MOLDOVA","MONACO","MONGOLIA","MONTENEGRO","MONTSERRAT","MOROCCO","MOZAMBIQUE","MYANMAR","NAMIBIA","NAURU","NEPAL","NETHERLANDS","NEW_CALEDONIA","NEW_ZEALAND","NICARAGUA","NIGER","NIGERIA","NIUE","NORFOLK_ISLAND","NORTHERN_MARIANA_ISLANDS","NORWAY","OMAN","PAKISTAN","PALAU","PALESTINIAN_TERRITORY","PANAMA","PAPUA_NEW_GUINEA","PARAGUAY","PERU","PHILIPPINES","PITCAIRN","POLAND","PORTUGAL","PUERTO_RICO","QATAR","RÉUNION","ROMANIA","RUSSIAN_FEDERATION","RWANDA","SAINT_BARTHÉLEMY","SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA","SAINT_KITTS_NEVIS","SAINT_LUCIA","SAINT_MARTIN_FRENCH","SAINT_PIERRE_MIQUELON","SAINT_VINCENT_GRENADINES","SAMOA","SAN_MARINO","SAO_TOME_PRINCIPE","SAUDI_ARABIA","SENEGAL","SERBIA","SEYCHELLES","SIERRA_LEONE","SINGAPORE","SINT_MAARTEN","SLOVAKIA","SLOVENIA","SOLOMON_ISLANDS","SOMALIA","SOUTH_AFRICA","SOUTH_GEORGIA_SANDWICH_ISLANDS","SOUTH_SUDAN","SPAIN","SRI_LANKA","SUDAN","SURINAME","SVALBARD_JAN_MAYEN","SWAZILAND","SWEDEN","SWITZERLAND","SYRIA","TAIWAN","TAJIKISTAN","TANZANIA","THAILAND","TIMOR_LESTE","TOGO","TOKELAU","TONGA","TRINIDAD_TOBAGO","TUNISIA","TURKEY","TURKMENISTAN","TURKS_CAICOS_ISLANDS","TUVALU","UGANDA","UKRAINE","UNITED_ARAB_EMIRATES","UNITED_KINGDOM","UNITED_STATES","UNITED_STATES_OUTLYING_ISLANDS","URUGUAY","UZBEKISTAN","VANUATU","VENEZUELA","VIETNAM","VIRGIN_ISLANDS_BRITISH","VIRGIN_ISLANDS","WALLIS_FUTUNA","WESTERN_SAHARA","YEMEN","ZAMBIA","ZIMBABWE","USER_DEFINED","KOSOVO","INTERNATIONAL_WATERS","UNKNOWN"]},"protocol":{"type":"string","enum":["EML","FEED","WFS","WMS","TCS_RDF","TCS_XML","DWC_ARCHIVE","DIGIR","DIGIR_MANIS","TAPIR","BIOCASE","BIOCASE_XML_ARCHIVE","OAI_PMH","COLDP","OTHER"]},"lastCrawled":{"type":"string","format":"date-time"},"lastParsed":{"type":"string","format":"date-time"},"crawlId":{"type":"integer","format":"int32"},"projectId":{"type":"string"},"programmeAcronym":{"type":"string"},"hostingOrganizationKey":{"type":"string","format":"uuid"},"extensions":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}},"basisOfRecord":{"type":"string","enum":["PRESERVED_SPECIMEN","FOSSIL_SPECIMEN","LIVING_SPECIMEN","OBSERVATION","HUMAN_OBSERVATION","MACHINE_OBSERVATION","MATERIAL_SAMPLE","LITERATURE","MATERIAL_CITATION","OCCURRENCE","UNKNOWN"]},"individualCount":{"type":"integer","format":"int32"},"occurrenceStatus":{"type":"string","enum":["PRESENT","ABSENT"]},"sex":{"type":"string","enum":["NONE","MALE","FEMALE","HERMAPHRODITE"]},"lifeStage":{"type":"string"},"establishmentMeans":{"type":"string"},"degreeOfEstablishment":{"type":"string"},"pathway":{"type":"string"},"taxonKey":{"type":"integer","format":"int32"},"kingdomKey":{"type":"integer","format":"int32"},"phylumKey":{"type":"integer","format":"int32"},"classKey":{"type":"integer","format":"int32"},"orderKey":{"type":"integer","format":"int32"},"familyKey":{"type":"integer","format":"int32"},"genusKey":{"type":"integer","format":"int32"},"subgenusKey":{"type":"integer","format":"int32"},"speciesKey":{"type":"integer","format":"int32"},"acceptedTaxonKey":{"type":"integer","format":"int32"},"scientificName":{"type":"string"},"acceptedScientificName":{"type":"string"},"kingdom":{"type":"string"},"phylum":{"type":"string"},"order":{"type":"string"},"family":{"type":"string"},"genus":{"type":"string"},"subgenus":{"type":"string"},"species":{"type":"string"},"genericName":{"type":"string"},"specificEpithet":{"type":"string"},"infraspecificEpithet":{"type":"string"},"taxonRank":{"type":"string","enum":["DOMAIN","SUPERKINGDOM","KINGDOM","SUBKINGDOM","INFRAKINGDOM","SUPERPHYLUM","PHYLUM","SUBPHYLUM","INFRAPHYLUM","SUPERCLASS","CLASS","SUBCLASS","INFRACLASS","PARVCLASS","SUPERLEGION","LEGION","SUBLEGION","INFRALEGION","SUPERCOHORT","COHORT","SUBCOHORT","INFRACOHORT","MAGNORDER","SUPERORDER","GRANDORDER","ORDER","SUBORDER","INFRAORDER","PARVORDER","SUPERFAMILY","FAMILY","SUBFAMILY","INFRAFAMILY","SUPERTRIBE","TRIBE","SUBTRIBE","INFRATRIBE","SUPRAGENERIC_NAME","GENUS","SUBGENUS","INFRAGENUS","SECTION","SUBSECTION","SERIES","SUBSERIES","INFRAGENERIC_NAME","SPECIES_AGGREGATE","SPECIES","INFRASPECIFIC_NAME","GREX","SUBSPECIES","CULTIVAR_GROUP","CONVARIETY","INFRASUBSPECIFIC_NAME","PROLES","RACE","NATIO","ABERRATION","MORPH","VARIETY","SUBVARIETY","FORM","SUBFORM","PATHOVAR","BIOVAR","CHEMOVAR","MORPHOVAR","PHAGOVAR","SEROVAR","CHEMOFORM","FORMA_SPECIALIS","CULTIVAR","STRAIN","OTHER","UNRANKED"]},"taxonomicStatus":{"type":"string","enum":["ACCEPTED","DOUBTFUL","SYNONYM","HETEROTYPIC_SYNONYM","HOMOTYPIC_SYNONYM","PROPARTE_SYNONYM","MISAPPLIED"]},"iucnRedListCategory":{"type":"string"},"dateIdentified":{"type":"string","format":"date-time"},"decimalLongitude":{"type":"number","format":"double"},"decimalLatitude":{"type":"number","format":"double"},"coordinatePrecision":{"type":"number","format":"double"},"coordinateUncertaintyInMeters":{"type":"number","format":"double"},"coordinateAccuracy":{"type":"number","format":"double","deprecated":true},"elevation":{"type":"number","format":"double"},"elevationAccuracy":{"type":"number","format":"double"},"depth":{"type":"number","format":"double"},"depthAccuracy":{"type":"number","format":"double"},"continent":{"type":"string","enum":["AFRICA","ANTARCTICA","ASIA","OCEANIA","EUROPE","NORTH_AMERICA","SOUTH_AMERICA"]},"stateProvince":{"type":"string"},"waterBody":{"type":"string"},"year":{"maximum":2030,"minimum":1500,"type":"integer","format":"int32"},"month":{"maximum":12,"minimum":1,"type":"integer","format":"int32"},"day":{"maximum":31,"minimum":1,"type":"integer","format":"int32"},"eventDate":{"type":"string","format":"date-time"},"typeStatus":{"type":"string"},"typifiedName":{"type":"string"},"issues":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["ZERO_COORDINATE","COORDINATE_OUT_OF_RANGE","COORDINATE_INVALID","COORDINATE_ROUNDED","GEODETIC_DATUM_INVALID","GEODETIC_DATUM_ASSUMED_WGS84","COORDINATE_REPROJECTED","COORDINATE_REPROJECTION_FAILED","COORDINATE_REPROJECTION_SUSPICIOUS","COORDINATE_ACCURACY_INVALID","COORDINATE_PRECISION_INVALID","COORDINATE_UNCERTAINTY_METERS_INVALID","COORDINATE_PRECISION_UNCERTAINTY_MISMATCH","FOOTPRINT_SRS_INVALID","FOOTPRINT_WKT_MISMATCH","FOOTPRINT_WKT_INVALID","COUNTRY_COORDINATE_MISMATCH","COUNTRY_MISMATCH","COUNTRY_INVALID","COUNTRY_DERIVED_FROM_COORDINATES","CONTINENT_COORDINATE_MISMATCH","CONTINENT_COUNTRY_MISMATCH","CONTINENT_INVALID","CONTINENT_DERIVED_FROM_COUNTRY","CONTINENT_DERIVED_FROM_COORDINATES","PRESUMED_SWAPPED_COORDINATE","PRESUMED_NEGATED_LONGITUDE","PRESUMED_NEGATED_LATITUDE","RECORDED_DATE_MISMATCH","RECORDED_DATE_INVALID","RECORDED_DATE_UNLIKELY","TAXON_MATCH_FUZZY","TAXON_MATCH_HIGHERRANK","TAXON_MATCH_AGGREGATE","TAXON_MATCH_NONE","DEPTH_NOT_METRIC","DEPTH_UNLIKELY","DEPTH_MIN_MAX_SWAPPED","DEPTH_NON_NUMERIC","ELEVATION_UNLIKELY","ELEVATION_MIN_MAX_SWAPPED","ELEVATION_NOT_METRIC","ELEVATION_NON_NUMERIC","MODIFIED_DATE_INVALID","MODIFIED_DATE_UNLIKELY","IDENTIFIED_DATE_UNLIKELY","IDENTIFIED_DATE_INVALID","BASIS_OF_RECORD_INVALID","TYPE_STATUS_INVALID","MULTIMEDIA_DATE_INVALID","MULTIMEDIA_URI_INVALID","REFERENCES_URI_INVALID","INTERPRETATION_ERROR","INDIVIDUAL_COUNT_INVALID","INDIVIDUAL_COUNT_CONFLICTS_WITH_OCCURRENCE_STATUS","OCCURRENCE_STATUS_UNPARSABLE","OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COUNT","OCCURRENCE_STATUS_INFERRED_FROM_BASIS_OF_RECORD","GEOREFERENCED_DATE_UNLIKELY","GEOREFERENCED_DATE_INVALID","AMBIGUOUS_INSTITUTION","AMBIGUOUS_COLLECTION","INSTITUTION_MATCH_NONE","COLLECTION_MATCH_NONE","INSTITUTION_MATCH_FUZZY","COLLECTION_MATCH_FUZZY","INSTITUTION_COLLECTION_MISMATCH","POSSIBLY_ON_LOAN","DIFFERENT_OWNER_INSTITUTION"]}},"modified":{"type":"string","format":"date-time"},"lastInterpreted":{"type":"string","format":"date-time"},"references":{"type":"string","format":"uri"},"license":{"type":"string","enum":["CC0_1_0","CC_BY_4_0","CC_BY_NC_4_0","UNSPECIFIED","UNSUPPORTED"]},"organismQuantity":{"type":"number","format":"double"},"organismQuantityType":{"type":"string"},"sampleSizeUnit":{"type":"string"},"sampleSizeValue":{"type":"number","format":"double"},"relativeOrganismQuantity":{"type":"number","format":"double"},"identifiers":{"type":"array","items":{"$ref":"#/components/schemas/Identifier"}},"media":{"type":"array","items":{"$ref":"#/components/schemas/MediaObject"}},"facts":{"type":"array","items":{"$ref":"#/components/schemas/MeasurementOrFact"}},"relations":{"type":"array","items":{"$ref":"#/components/schemas/OccurrenceRelation"}},"gadm":{"$ref":"#/components/schemas/Gadm"},"institutionKey":{"type":"string"},"collectionKey":{"type":"string"},"isInCluster":{"type":"boolean"},"datasetID":{"type":"string"},"datasetName":{"type":"string"},"otherCatalogNumbers":{"type":"string"},"recordedBy":{"type":"string"},"identifiedBy":{"type":"string"},"preparations":{"type":"string"},"samplingProtocol":{"type":"string"},"verbatimScientificName":{"type":"string","writeOnly":true},"geodeticDatum":{"type":"string"},"class":{"type":"string"},"countryCode":{"type":"string","enum":["AFGHANISTAN","ALAND_ISLANDS","ALBANIA","ALGERIA","AMERICAN_SAMOA","ANDORRA","ANGOLA","ANGUILLA","ANTARCTICA","ANTIGUA_BARBUDA","ARGENTINA","ARMENIA","ARUBA","AUSTRALIA","AUSTRIA","AZERBAIJAN","BAHAMAS","BAHRAIN","BANGLADESH","BARBADOS","BELARUS","BELGIUM","BELIZE","BENIN","BERMUDA","BHUTAN","BOLIVIA","BONAIRE_SINT_EUSTATIUS_SABA","BOSNIA_HERZEGOVINA","BOTSWANA","BOUVET_ISLAND","BRAZIL","BRITISH_INDIAN_OCEAN_TERRITORY","BRUNEI_DARUSSALAM","BULGARIA","BURKINA_FASO","BURUNDI","CAMBODIA","CAMEROON","CANADA","CAPE_VERDE","CAYMAN_ISLANDS","CENTRAL_AFRICAN_REPUBLIC","CHAD","CHILE","CHINA","CHRISTMAS_ISLAND","COCOS_ISLANDS","COLOMBIA","COMOROS","CONGO_DEMOCRATIC_REPUBLIC","CONGO","COOK_ISLANDS","COSTA_RICA","CÔTE_DIVOIRE","CROATIA","CUBA","CURAÇAO","CYPRUS","CZECH_REPUBLIC","DENMARK","DJIBOUTI","DOMINICA","DOMINICAN_REPUBLIC","ECUADOR","EGYPT","EL_SALVADOR","EQUATORIAL_GUINEA","ERITREA","ESTONIA","ETHIOPIA","FALKLAND_ISLANDS","FAROE_ISLANDS","FIJI","FINLAND","FRANCE","FRENCH_GUIANA","FRENCH_POLYNESIA","FRENCH_SOUTHERN_TERRITORIES","GABON","GAMBIA","GEORGIA","GERMANY","GHANA","GIBRALTAR","GREECE","GREENLAND","GRENADA","GUADELOUPE","GUAM","GUATEMALA","GUERNSEY","GUINEA","GUINEA_BISSAU","GUYANA","HAITI","HEARD_MCDONALD_ISLANDS","VATICAN","HONDURAS","HONG_KONG","HUNGARY","ICELAND","INDIA","INDONESIA","IRAN","IRAQ","IRELAND","ISLE_OF_MAN","ISRAEL","ITALY","JAMAICA","JAPAN","JERSEY","JORDAN","KAZAKHSTAN","KENYA","KIRIBATI","KOREA_NORTH","KOREA_SOUTH","KUWAIT","KYRGYZSTAN","LAO","LATVIA","LEBANON","LESOTHO","LIBERIA","LIBYA","LIECHTENSTEIN","LITHUANIA","LUXEMBOURG","MACAO","MACEDONIA","MADAGASCAR","MALAWI","MALAYSIA","MALDIVES","MALI","MALTA","MARSHALL_ISLANDS","MARTINIQUE","MAURITANIA","MAURITIUS","MAYOTTE","MEXICO","MICRONESIA","MOLDOVA","MONACO","MONGOLIA","MONTENEGRO","MONTSERRAT","MOROCCO","MOZAMBIQUE","MYANMAR","NAMIBIA","NAURU","NEPAL","NETHERLANDS","NEW_CALEDONIA","NEW_ZEALAND","NICARAGUA","NIGER","NIGERIA","NIUE","NORFOLK_ISLAND","NORTHERN_MARIANA_ISLANDS","NORWAY","OMAN","PAKISTAN","PALAU","PALESTINIAN_TERRITORY","PANAMA","PAPUA_NEW_GUINEA","PARAGUAY","PERU","PHILIPPINES","PITCAIRN","POLAND","PORTUGAL","PUERTO_RICO","QATAR","RÉUNION","ROMANIA","RUSSIAN_FEDERATION","RWANDA","SAINT_BARTHÉLEMY","SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA","SAINT_KITTS_NEVIS","SAINT_LUCIA","SAINT_MARTIN_FRENCH","SAINT_PIERRE_MIQUELON","SAINT_VINCENT_GRENADINES","SAMOA","SAN_MARINO","SAO_TOME_PRINCIPE","SAUDI_ARABIA","SENEGAL","SERBIA","SEYCHELLES","SIERRA_LEONE","SINGAPORE","SINT_MAARTEN","SLOVAKIA","SLOVENIA","SOLOMON_ISLANDS","SOMALIA","SOUTH_AFRICA","SOUTH_GEORGIA_SANDWICH_ISLANDS","SOUTH_SUDAN","SPAIN","SRI_LANKA","SUDAN","SURINAME","SVALBARD_JAN_MAYEN","SWAZILAND","SWEDEN","SWITZERLAND","SYRIA","TAIWAN","TAJIKISTAN","TANZANIA","THAILAND","TIMOR_LESTE","TOGO","TOKELAU","TONGA","TRINIDAD_TOBAGO","TUNISIA","TURKEY","TURKMENISTAN","TURKS_CAICOS_ISLANDS","TUVALU","UGANDA","UKRAINE","UNITED_ARAB_EMIRATES","UNITED_KINGDOM","UNITED_STATES","UNITED_STATES_OUTLYING_ISLANDS","URUGUAY","UZBEKISTAN","VANUATU","VENEZUELA","VIETNAM","VIRGIN_ISLANDS_BRITISH","VIRGIN_ISLANDS","WALLIS_FUTUNA","WESTERN_SAHARA","YEMEN","ZAMBIA","ZIMBABWE","USER_DEFINED","KOSOVO","INTERNATIONAL_WATERS","UNKNOWN"]},"recordedByIDs":{"type":"array","items":{"$ref":"#/components/schemas/AgentIdentifier"}},"identifiedByIDs":{"type":"array","items":{"$ref":"#/components/schemas/AgentIdentifier"}},"country":{"type":"string"}}},"OccurrenceRelation":{"type":"object","properties":{"id":{"type":"string"},"occurrenceId":{"type":"integer","format":"int64"},"relatedOccurrenceId":{"type":"integer","format":"int64"},"type":{"type":"string"},"accordingTo":{"type":"string"},"establishedDate":{"type":"string"},"remarks":{"type":"string"}}},"SearchResponseOccurrenceOccurrenceSearchParameter":{"type":"object","properties":{"offset":{"minimum":0,"type":"integer","format":"int64"},"limit":{"minimum":0,"type":"integer","format":"int32"},"endOfRecords":{"type":"boolean"},"count":{"type":"integer","format":"int64"},"results":{"type":"array","items":{"$ref":"#/components/schemas/Occurrence"}},"facets":{"type":"array","items":{"$ref":"#/components/schemas/FacetOccurrenceSearchParameter"}},"spellCheckResponse":{"$ref":"#/components/schemas/SpellCheckResponse"}}},"SpellCheckResponse":{"type":"object","properties":{"correctlySpelled":{"type":"boolean"},"suggestions":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Suggestion"}}}},"Suggestion":{"type":"object","properties":{"numFound":{"type":"integer","format":"int32"},"alternatives":{"type":"array","items":{"type":"string"}}}},"OccurrenceSearchRequest":{"type":"object","properties":{"offset":{"minimum":0,"type":"integer","format":"int64"},"limit":{"minimum":0,"type":"integer","format":"int32"},"parameters":{"type":"object","additionalProperties":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},"q":{"type":"string"},"highlight":{"type":"boolean"},"spellCheck":{"type":"boolean"},"spellCheckCount":{"type":"integer","format":"int32"},"highlightFields":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/QueryField"}},"facets":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["DATASET_KEY","YEAR","MONTH","EVENT_DATE","EVENT_ID","PARENT_EVENT_ID","SAMPLING_PROTOCOL","LAST_INTERPRETED","MODIFIED","DECIMAL_LATITUDE","DECIMAL_LONGITUDE","COORDINATE_UNCERTAINTY_IN_METERS","COUNTRY","CONTINENT","PUBLISHING_COUNTRY","ELEVATION","DEPTH","INSTITUTION_CODE","COLLECTION_CODE","CATALOG_NUMBER","RECORDED_BY","IDENTIFIED_BY","RECORD_NUMBER","BASIS_OF_RECORD","TAXON_KEY","ACCEPTED_TAXON_KEY","KINGDOM_KEY","PHYLUM_KEY","CLASS_KEY","ORDER_KEY","FAMILY_KEY","GENUS_KEY","SUBGENUS_KEY","SPECIES_KEY","SCIENTIFIC_NAME","VERBATIM_SCIENTIFIC_NAME","TAXON_ID","TAXONOMIC_STATUS","HAS_COORDINATE","GEOMETRY","GEO_DISTANCE","HAS_GEOSPATIAL_ISSUE","ISSUE","TYPE_STATUS","MEDIA_TYPE","OCCURRENCE_ID","ESTABLISHMENT_MEANS","DEGREE_OF_ESTABLISHMENT","PATHWAY","REPATRIATED","ORGANISM_ID","STATE_PROVINCE","WATER_BODY","LOCALITY","PROTOCOL","LICENSE","PUBLISHING_ORG","NETWORK_KEY","INSTALLATION_KEY","HOSTING_ORGANIZATION_KEY","CRAWL_ID","PROJECT_ID","PROGRAMME","ORGANISM_QUANTITY","ORGANISM_QUANTITY_TYPE","SAMPLE_SIZE_UNIT","SAMPLE_SIZE_VALUE","RELATIVE_ORGANISM_QUANTITY","COLLECTION_KEY","INSTITUTION_KEY","RECORDED_BY_ID","IDENTIFIED_BY_ID","OCCURRENCE_STATUS","GADM_GID","GADM_LEVEL_0_GID","GADM_LEVEL_1_GID","GADM_LEVEL_2_GID","GADM_LEVEL_3_GID","LIFE_STAGE","IS_IN_CLUSTER","DWCA_EXTENSION","IUCN_RED_LIST_CATEGORY","DATASET_ID","DATASET_NAME","OTHER_CATALOG_NUMBERS","PREPARATIONS"]}},"multiSelectFacets":{"type":"boolean"},"facetMinCount":{"type":"integer","format":"int32"},"facetLimit":{"type":"integer","format":"int32"},"facetOffset":{"type":"integer","format":"int32"},"facetPages":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Pageable"}},"matchCase":{"type":"boolean"},"qfields":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/QueryField"}}}},"PredicateDownloadRequest":{"type":"object","properties":{"predicate":{"oneOf":[{"$ref":"#/components/schemas/ConjunctionPredicate"},{"$ref":"#/components/schemas/DisjunctionPredicate"},{"$ref":"#/components/schemas/EqualsPredicate"},{"$ref":"#/components/schemas/FullTextSearchPredicate"},{"$ref":"#/components/schemas/GeoDistancePredicate"},{"$ref":"#/components/schemas/GreaterThanOrEqualsPredicate"},{"$ref":"#/components/schemas/GreaterThanPredicate"},{"$ref":"#/components/schemas/InPredicate"},{"$ref":"#/components/schemas/IsNotNullPredicate"},{"$ref":"#/components/schemas/IsNullPredicate"},{"$ref":"#/components/schemas/LessThanOrEqualsPredicate"},{"$ref":"#/components/schemas/LessThanPredicate"},{"$ref":"#/components/schemas/LikePredicate"},{"$ref":"#/components/schemas/NotPredicate"},{"$ref":"#/components/schemas/WithinPredicate"}]},"creator":{"type":"string"},"notificationAddresses":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"sendNotification":{"type":"boolean"},"format":{"type":"string","enum":["DWCA","SIMPLE_CSV","SIMPLE_AVRO","SIMPLE_WITH_VERBATIM_AVRO","SPECIES_LIST","MAP_OF_LIFE","BIONOMIA","IUCN","SIMPLE_PARQUET"]},"type":{"type":"string","enum":["OCCURRENCE","EVENT"]},"extensions":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["AUDUBON","AMPLIFICATION","DESCRIPTION","DISTRIBUTION","EOL_MEDIA","EOL_REFERENCE","GERMPLASM_ACCESSION","GERMPLASM_MEASUREMENT_SCORE","GERMPLASM_MEASUREMENT_TRAIT","GERMPLASM_MEASUREMENT_TRIAL","IDENTIFICATION","IDENTIFIER","IMAGE","MEASUREMENT_OR_FACT","MULTIMEDIA","REFERENCE","RESOURCE_RELATIONSHIP","SPECIES_PROFILE","TYPES_AND_SPECIMEN","VERNACULAR_NAME","CLONING","GEL_IMAGE","LOAN","MATERIAL_SAMPLE","PERMIT","PREPARATION","PRESERVATION","EXTENDED_MEASUREMENT_OR_FACT","CHRONOMETRIC_AGE","CHRONOMETRIC_DATE","DNA_DERIVED_DATA"]}}}},"VerbatimOccurrence":{"required":["datasetKey","extensions","key","protocol","publishingOrgKey"],"type":"object","properties":{"key":{"type":"integer","format":"int64"},"datasetKey":{"type":"string","format":"uuid"},"publishingOrgKey":{"type":"string","format":"uuid"},"networkKeys":{"type":"array","items":{"type":"string","format":"uuid"}},"installationKey":{"type":"string","format":"uuid"},"publishingCountry":{"type":"string","enum":["AFGHANISTAN","ALAND_ISLANDS","ALBANIA","ALGERIA","AMERICAN_SAMOA","ANDORRA","ANGOLA","ANGUILLA","ANTARCTICA","ANTIGUA_BARBUDA","ARGENTINA","ARMENIA","ARUBA","AUSTRALIA","AUSTRIA","AZERBAIJAN","BAHAMAS","BAHRAIN","BANGLADESH","BARBADOS","BELARUS","BELGIUM","BELIZE","BENIN","BERMUDA","BHUTAN","BOLIVIA","BONAIRE_SINT_EUSTATIUS_SABA","BOSNIA_HERZEGOVINA","BOTSWANA","BOUVET_ISLAND","BRAZIL","BRITISH_INDIAN_OCEAN_TERRITORY","BRUNEI_DARUSSALAM","BULGARIA","BURKINA_FASO","BURUNDI","CAMBODIA","CAMEROON","CANADA","CAPE_VERDE","CAYMAN_ISLANDS","CENTRAL_AFRICAN_REPUBLIC","CHAD","CHILE","CHINA","CHRISTMAS_ISLAND","COCOS_ISLANDS","COLOMBIA","COMOROS","CONGO_DEMOCRATIC_REPUBLIC","CONGO","COOK_ISLANDS","COSTA_RICA","CÔTE_DIVOIRE","CROATIA","CUBA","CURAÇAO","CYPRUS","CZECH_REPUBLIC","DENMARK","DJIBOUTI","DOMINICA","DOMINICAN_REPUBLIC","ECUADOR","EGYPT","EL_SALVADOR","EQUATORIAL_GUINEA","ERITREA","ESTONIA","ETHIOPIA","FALKLAND_ISLANDS","FAROE_ISLANDS","FIJI","FINLAND","FRANCE","FRENCH_GUIANA","FRENCH_POLYNESIA","FRENCH_SOUTHERN_TERRITORIES","GABON","GAMBIA","GEORGIA","GERMANY","GHANA","GIBRALTAR","GREECE","GREENLAND","GRENADA","GUADELOUPE","GUAM","GUATEMALA","GUERNSEY","GUINEA","GUINEA_BISSAU","GUYANA","HAITI","HEARD_MCDONALD_ISLANDS","VATICAN","HONDURAS","HONG_KONG","HUNGARY","ICELAND","INDIA","INDONESIA","IRAN","IRAQ","IRELAND","ISLE_OF_MAN","ISRAEL","ITALY","JAMAICA","JAPAN","JERSEY","JORDAN","KAZAKHSTAN","KENYA","KIRIBATI","KOREA_NORTH","KOREA_SOUTH","KUWAIT","KYRGYZSTAN","LAO","LATVIA","LEBANON","LESOTHO","LIBERIA","LIBYA","LIECHTENSTEIN","LITHUANIA","LUXEMBOURG","MACAO","MACEDONIA","MADAGASCAR","MALAWI","MALAYSIA","MALDIVES","MALI","MALTA","MARSHALL_ISLANDS","MARTINIQUE","MAURITANIA","MAURITIUS","MAYOTTE","MEXICO","MICRONESIA","MOLDOVA","MONACO","MONGOLIA","MONTENEGRO","MONTSERRAT","MOROCCO","MOZAMBIQUE","MYANMAR","NAMIBIA","NAURU","NEPAL","NETHERLANDS","NEW_CALEDONIA","NEW_ZEALAND","NICARAGUA","NIGER","NIGERIA","NIUE","NORFOLK_ISLAND","NORTHERN_MARIANA_ISLANDS","NORWAY","OMAN","PAKISTAN","PALAU","PALESTINIAN_TERRITORY","PANAMA","PAPUA_NEW_GUINEA","PARAGUAY","PERU","PHILIPPINES","PITCAIRN","POLAND","PORTUGAL","PUERTO_RICO","QATAR","RÉUNION","ROMANIA","RUSSIAN_FEDERATION","RWANDA","SAINT_BARTHÉLEMY","SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA","SAINT_KITTS_NEVIS","SAINT_LUCIA","SAINT_MARTIN_FRENCH","SAINT_PIERRE_MIQUELON","SAINT_VINCENT_GRENADINES","SAMOA","SAN_MARINO","SAO_TOME_PRINCIPE","SAUDI_ARABIA","SENEGAL","SERBIA","SEYCHELLES","SIERRA_LEONE","SINGAPORE","SINT_MAARTEN","SLOVAKIA","SLOVENIA","SOLOMON_ISLANDS","SOMALIA","SOUTH_AFRICA","SOUTH_GEORGIA_SANDWICH_ISLANDS","SOUTH_SUDAN","SPAIN","SRI_LANKA","SUDAN","SURINAME","SVALBARD_JAN_MAYEN","SWAZILAND","SWEDEN","SWITZERLAND","SYRIA","TAIWAN","TAJIKISTAN","TANZANIA","THAILAND","TIMOR_LESTE","TOGO","TOKELAU","TONGA","TRINIDAD_TOBAGO","TUNISIA","TURKEY","TURKMENISTAN","TURKS_CAICOS_ISLANDS","TUVALU","UGANDA","UKRAINE","UNITED_ARAB_EMIRATES","UNITED_KINGDOM","UNITED_STATES","UNITED_STATES_OUTLYING_ISLANDS","URUGUAY","UZBEKISTAN","VANUATU","VENEZUELA","VIETNAM","VIRGIN_ISLANDS_BRITISH","VIRGIN_ISLANDS","WALLIS_FUTUNA","WESTERN_SAHARA","YEMEN","ZAMBIA","ZIMBABWE","USER_DEFINED","KOSOVO","INTERNATIONAL_WATERS","UNKNOWN"]},"protocol":{"type":"string","enum":["EML","FEED","WFS","WMS","TCS_RDF","TCS_XML","DWC_ARCHIVE","DIGIR","DIGIR_MANIS","TAPIR","BIOCASE","BIOCASE_XML_ARCHIVE","OAI_PMH","COLDP","OTHER"]},"lastCrawled":{"type":"string","format":"date-time"},"lastParsed":{"type":"string","format":"date-time"},"crawlId":{"type":"integer","format":"int32"},"projectId":{"type":"string"},"programmeAcronym":{"type":"string"},"hostingOrganizationKey":{"type":"string","format":"uuid"},"extensions":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}}}},"TermWrapper":{"type":"object","properties":{"simpleName":{"type":"string"},"qualifiedName":{"type":"string"},"group":{"type":"string"},"source":{"type":"string"}}},"ApplicationContext":{"type":"object","properties":{"parent":{"$ref":"#/components/schemas/ApplicationContext"},"id":{"type":"string"},"displayName":{"type":"string"},"startupDate":{"type":"integer","format":"int64"},"applicationName":{"type":"string"},"autowireCapableBeanFactory":{"$ref":"#/components/schemas/AutowireCapableBeanFactory"},"environment":{"$ref":"#/components/schemas/Environment"},"beanDefinitionCount":{"type":"integer","format":"int32"},"beanDefinitionNames":{"type":"array","items":{"type":"string"}},"parentBeanFactory":{"$ref":"#/components/schemas/BeanFactory"},"classLoader":{"type":"object","properties":{"parent":{"type":"object","properties":{"defaultAssertionStatus":{"type":"boolean","writeOnly":true}}},"defaultAssertionStatus":{"type":"boolean","writeOnly":true}}}}},"AutowireCapableBeanFactory":{"type":"object"},"BeanFactory":{"type":"object"},"Environment":{"type":"object","properties":{"activeProfiles":{"type":"array","items":{"type":"string"}},"defaultProfiles":{"type":"array","items":{"type":"string"}}}},"RedirectView":{"type":"object","properties":{"applicationContext":{"$ref":"#/components/schemas/ApplicationContext"},"servletContext":{"type":"object","properties":{"majorVersion":{"type":"integer","format":"int32"},"minorVersion":{"type":"integer","format":"int32"},"sessionTrackingModes":{"uniqueItems":true,"type":"array","writeOnly":true,"items":{"type":"string","enum":["COOKIE","URL","SSL"]}},"contextPath":{"type":"string"},"initParameterNames":{"type":"object"},"effectiveMajorVersion":{"type":"integer","format":"int32"},"sessionTimeout":{"type":"integer","format":"int32"},"servletNames":{"type":"object","deprecated":true},"filterRegistrations":{"type":"object","additionalProperties":{"type":"object","properties":{"servletNameMappings":{"type":"array","items":{"type":"string"}},"urlPatternMappings":{"type":"array","items":{"type":"string"}},"initParameters":{"type":"object","additionalProperties":{"type":"string"}},"name":{"type":"string"},"className":{"type":"string"}}}},"sessionCookieConfig":{"type":"object","properties":{"secure":{"type":"boolean"},"domain":{"type":"string"},"httpOnly":{"type":"boolean"},"comment":{"type":"string"},"path":{"type":"string"},"maxAge":{"type":"integer","format":"int32"},"name":{"type":"string"}}},"defaultSessionTrackingModes":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["COOKIE","URL","SSL"]}},"effectiveSessionTrackingModes":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["COOKIE","URL","SSL"]}},"jspConfigDescriptor":{"type":"object","properties":{"taglibs":{"type":"array","items":{"type":"object","properties":{"taglibLocation":{"type":"string"},"taglibURI":{"type":"string"}}}},"jspPropertyGroups":{"type":"array","items":{"type":"object","properties":{"deferredSyntaxAllowedAsLiteral":{"type":"string"},"scriptingInvalid":{"type":"string"},"includePreludes":{"type":"array","items":{"type":"string"}},"includeCodas":{"type":"array","items":{"type":"string"}},"trimDirectiveWhitespaces":{"type":"string"},"errorOnUndeclaredNamespace":{"type":"string"},"elIgnored":{"type":"string"},"pageEncoding":{"type":"string"},"isXml":{"type":"string"},"defaultContentType":{"type":"string"},"urlPatterns":{"type":"array","items":{"type":"string"}},"buffer":{"type":"string"}}}}}},"virtualServerName":{"type":"string"},"requestCharacterEncoding":{"type":"string"},"responseCharacterEncoding":{"type":"string"},"effectiveMinorVersion":{"type":"integer","format":"int32"},"servletContextName":{"type":"string"},"servletRegistrations":{"type":"object","additionalProperties":{"type":"object","properties":{"runAsRole":{"type":"string"},"mappings":{"type":"array","items":{"type":"string"}},"initParameters":{"type":"object","additionalProperties":{"type":"string"}},"name":{"type":"string"},"className":{"type":"string"}}}},"servlets":{"type":"object","deprecated":true},"serverInfo":{"type":"string"},"classLoader":{"type":"object","properties":{"parent":{"type":"object","properties":{"defaultAssertionStatus":{"type":"boolean","writeOnly":true}}},"defaultAssertionStatus":{"type":"boolean","writeOnly":true}}},"attributeNames":{"type":"object"}},"writeOnly":true},"contentType":{"type":"string"},"requestContextAttribute":{"type":"string"},"staticAttributes":{"type":"object","additionalProperties":{"type":"object"}},"exposePathVariables":{"type":"boolean"},"exposeContextBeansAsAttributes":{"type":"boolean","writeOnly":true},"exposedContextBeanNames":{"type":"array","writeOnly":true,"items":{"type":"string"}},"beanName":{"type":"string"},"url":{"type":"string"},"contextRelative":{"type":"boolean","writeOnly":true},"http10Compatible":{"type":"boolean","writeOnly":true},"exposeModelAttributes":{"type":"boolean","writeOnly":true},"encodingScheme":{"type":"string","writeOnly":true},"statusCode":{"type":"string","writeOnly":true,"enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 CHECKPOINT","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","302 MOVED_TEMPORARILY","303 SEE_OTHER","304 NOT_MODIFIED","305 USE_PROXY","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 PAYLOAD_TOO_LARGE","413 REQUEST_ENTITY_TOO_LARGE","414 URI_TOO_LONG","414 REQUEST_URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","419 INSUFFICIENT_SPACE_ON_RESOURCE","420 METHOD_FAILURE","421 DESTINATION_LOCKED","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","425 TOO_EARLY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"]},"expandUriTemplateVariables":{"type":"boolean","writeOnly":true},"propagateQueryParams":{"type":"boolean","writeOnly":true},"hosts":{"type":"array","items":{"type":"string"}},"redirectView":{"type":"boolean"},"propagateQueryProperties":{"type":"boolean"},"attributesMap":{"type":"object","additionalProperties":{"type":"object"}},"attributesCSV":{"type":"string","writeOnly":true},"attributes":{"type":"object","additionalProperties":{"type":"string"},"writeOnly":true}}},"FacetSearchParameter":{"type":"object","properties":{"field":{"$ref":"#/components/schemas/SearchParameter"},"counts":{"type":"array","items":{"$ref":"#/components/schemas/Count"}}}},"SearchParameter":{"type":"object"},"SearchResponse":{"type":"object","properties":{"offset":{"minimum":0,"type":"integer","format":"int64"},"limit":{"minimum":0,"type":"integer","format":"int32"},"endOfRecords":{"type":"boolean"},"count":{"type":"integer","format":"int64"},"results":{"type":"array","items":{"type":"object"}},"facets":{"type":"array","items":{"$ref":"#/components/schemas/FacetSearchParameter"}},"spellCheckResponse":{"$ref":"#/components/schemas/SpellCheckResponse"}}},"DownloadRequest":{"type":"object","properties":{"creator":{"type":"string"},"notificationAddresses":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"sendNotification":{"type":"boolean"},"format":{"type":"string","enum":["DWCA","SIMPLE_CSV","SIMPLE_AVRO","SIMPLE_WITH_VERBATIM_AVRO","SPECIES_LIST","MAP_OF_LIFE","BIONOMIA","IUCN","SIMPLE_PARQUET"]},"type":{"type":"string","enum":["OCCURRENCE","EVENT"]},"extensions":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["AUDUBON","AMPLIFICATION","DESCRIPTION","DISTRIBUTION","EOL_MEDIA","EOL_REFERENCE","GERMPLASM_ACCESSION","GERMPLASM_MEASUREMENT_SCORE","GERMPLASM_MEASUREMENT_TRAIT","GERMPLASM_MEASUREMENT_TRIAL","IDENTIFICATION","IDENTIFIER","IMAGE","MEASUREMENT_OR_FACT","MULTIMEDIA","REFERENCE","RESOURCE_RELATIONSHIP","SPECIES_PROFILE","TYPES_AND_SPECIMEN","VERNACULAR_NAME","CLONING","GEL_IMAGE","LOAN","MATERIAL_SAMPLE","PERMIT","PREPARATION","PRESERVATION","EXTENDED_MEASUREMENT_OR_FACT","CHRONOMETRIC_AGE","CHRONOMETRIC_DATE","DNA_DERIVED_DATA"]}}}},"Field":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string"},"typeFormat":{"type":"string"},"term":{"$ref":"#/components/schemas/Term"},"required":{"type":"boolean"}}},"Table":{"type":"object","properties":{"fields":{"type":"array","items":{"$ref":"#/components/schemas/Field"}}}},"Term":{"type":"object","properties":{"class":{"type":"boolean"}}},"DwcDownload":{"type":"object","properties":{"verbatim":{"$ref":"#/components/schemas/Table"},"interpreted":{"$ref":"#/components/schemas/Table"}}}}}}
